

.Checkbox {
    position: relative;
    padding-inline-start: 3.5em;
    margin-block: .75em;
    line-height: 1.5em;
    cursor: var(--custom-cursor, pointer);
    transform: none;
    left: auto;
    top: auto;
    color: var(--color-text);
    display: flex;
    align-items: center;
    height: 3.5em;
    margin-left: 0;
    margin-right: 0;
    border-radius: var(--border-radius-default);
    margin-top: -1em;
    margin-bottom: -1em;
    overflow: hidden;
}

.Checkbox:hover {
    background-color: var(--color-background-secondary);
}

.Checkbox input {
    position: absolute;
    z-index: var(--z-below);
    opacity: 0;
}

.Checkbox .Checkbox-main::before, .Checkbox .Checkbox-main::after {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    left: 1.125em;
    top: .125em;
    top: 1.1em;
    width: 1.25em;
    height: 1.25em;
}

.Checkbox .Checkbox-main::before {
    border: .125em solid var(--color-borders-input);
    border-radius: .25em;
    background-color: var(--color-background);
    transition: border-color .1s ease, background-color .1s ease;
}

.Checkbox input:checked~.Checkbox-main::before {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

.Checkbox .Checkbox-main::after {
    background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjkuOEw1LjggOC45IDIuMSA1LjJjLS40LS40LTEuMS0uNC0xLjYgMC0uNC40LS40IDEuMSAwIDEuNkw1IDExLjJjLjQuNCAxLjEuNCAxLjYgMGw4LjktOC45Yy40LS40LjQtMS4xIDAtMS42LS41LS40LTEuMi0uNC0xLjYuMXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    background-size: .875em;
    opacity: 0;
    transition: opacity .1s ease;
}

.Checkbox input:checked~.Checkbox-main::after {
    opacity: 1;
}


.Checkbox .Checkbox-main .label {
    display: flex;
    align-items: center;
    text-align: initial;
    flex-wrap: wrap;
    column-gap: .25em;
}









.Checkbox.blocking input:not(:checked) ~ .Checkbox-main::before {
    border-color: var(--color-error);
}
.Checkbox.blocking input:not(:checked) ~ .Checkbox-main::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjkuOEw1LjggOC45IDIuMSA1LjJjLS40LS40LTEuMS0uNC0xLjYgMC0uNC40LS40IDEuMSAwIDEuNkw1IDExLjJjLjQuNCAxLjEuNCAxLjYgMGw4LjktOC45Yy40LS40LjQtMS4xIDAtMS42LS41LS40LTEuMi0uNC0xLjYuMXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    opacity: 1;
    background-size: 1.375em;
    background-position: -0.125em -0.125em;
}