

form {
    width: 100%;
}

.input-group {
    position: relative;
    margin-bottom: 1.5em;
}

input, textarea  {
    --border-width: 1px;
    display: block;
    width: 100%;
    height: 3.375em;
    padding: calc(.75em - var(--border-width)) calc(.9em - var(--border-width));
    border: var(--border-width) solid var(--color-borders-input);
    border-radius: var(--border-radius-default);
    color: var(--color-text);
    background-color: transparent;
    outline: none;
    transition: border-color .15s ease;
    word-break: break-word;
    -webkit-appearance: none;
    font-size: 1em;
    line-height: 1.25em;
    z-index: 1;
    position: relative;
}

textarea {
    height: auto;
    line-height: 1.5;
}

label {
    display: block;
    padding: 0 .25em;
    position: absolute;
    left: 0.75em;
    top: .9375em;
    background-color: var(--color-background);
    font-size: 1em;
    font-weight: 400;
    color: var(--color-placeholders);
    transition: transform .15s ease-out, color .15s ease-out;
    cursor: var(--custom-cursor, text);
    /* pointer-events: none; */
    transform-origin: left center;
    white-space: nowrap;
    color: var(--color-text-secondary);
    z-index: 0;
}

label {
    transform: scale(1) translate(-0em, -0em);
}


input:focus, textarea:focus {
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary);
    caret-color: var(--color-primary);
}

input:focus + label, textarea:focus + label {
    color: var(--color-primary);
    z-index: 2;
}

input:focus+label, label.active-label, textarea:focus+label {
    transform: scale(0.75) translate(-0.05em, -2.25em) !important;
    z-index: 2;
}

input:focus+label, textarea:focus+label {
    font-weight: 500;
}