        *,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0;color: var(--color)}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;height:100%;display:block}input,button,textarea,select{font:inherit}video{width: 100%;}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}a{color:var(--color_link);text-decoration:none}a:hover{color:var(--color_link_hover);text-decoration:underline}a:visited{color:var(--color_link_visited)}
       /* Плавная прокрутка всего документа */
        html {
          scroll-behavior: smooth;
        }
       @media screen and (prefers-reduced-motion: reduce) {
          html {
            scroll-behavior: auto;
          }
        } 
        /* Плавная прокрутка всего документа */
        
    *,
    ::before,
    ::after {
        box-sizing: border-box
    }

    .markdown-body-chtML ul[class],
    .markdown-body-chtML ol[class] {
        padding: 0
    }

    .markdown-body-chtML body,
    .markdown-body-chtML h1,
    .markdown-body-chtML h2,
    .markdown-body-chtML h3,
    .markdown-body-chtML h4,
    .markdown-body-chtML p,
    .markdown-body-chtML ul[class],
    .markdown-body-chtML ol[class],
    .markdown-body-chtML li,
    .markdown-body-chtML figure,
    .markdown-body-chtML figcaption,
    .markdown-body-chtML blockquote,
    .markdown-body-chtML dl,
    .markdown-body-chtML dd {
        margin: 0
    }

    .markdown-body-chtML body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5
    }

    .markdown-body-chtML ul[class],
    .markdown-body-chtML ol[class] {
        list-style: none
    }

    .markdown-body-chtML a:not([class]),
    a:not([class]) {
        text-decoration-skip-ink: auto
    }

    .markdown-body-chtML img {
        max-width: 100%;
        display: block
    }

    .markdown-body-chtML article>*+* {
        margin-top: 1em
    }

    .markdown-body-chtML input,
    .markdown-body-chtML button,
    .markdown-body-chtML textarea,
    .markdown-body-chtML select {
        font: inherit
    }

    @media (prefers-reduced-motion: reduce) {
        .markdown-body-chtML * {
            animation-duration: .01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: .01ms !important;
            scroll-behavior: auto !important
        }
    }

    @media (prefers-color-scheme: light) {

        .chtML-footer,
        .markdown-body-chtML,
        * {
            color-scheme: light;
            --color-prettylights-syntax-constant: #0550ae;
            --color-prettylights-syntax-markup-heading: #0550ae;
            --color-prettylights-syntax-brackethighlighter-angle: #4d555e;
            --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
            --color-fg-default: #24292f;
            --color-canvas-default: #fff;
            --color-canvas-subtle: #f6f8fa;
            --color-border-default: #d0d7de;
            --color-border-muted: hsla(210, 18%, 87%, 1);
            --color-accent-fg: #0969da;
            --shine: #4d8eda;
            --color-prettylights-syntax-markup-inserted-bg: #eefcf1;
            --color-prettylights-syntax-markup-inserted-bg-border: #dafbe1;
            --color-prettylights-syntax-entity: #8250df;
            --color-google-bg: #e7eaef;
            --color-google: #45484b;
            --color-red: rgb(163 44 55);
        }

        .chat-chtML-container .markdown-body-chtML {
            border-color: var(--color-border-muted)
        }

        .chtML-comment {
            color: var(--color-prettylights-syntax-brackethighlighter-angle)
        }
    }

    @media (prefers-color-scheme: dark) {

        .chtML-footer,
        .markdown-body-chtML {
            color-scheme: dark;
            --color-prettylights-syntax-constant: #79c0ff;
            --color-prettylights-syntax-markup-heading: #6ea7ff;
            --color-prettylights-syntax-brackethighlighter-angle: #9da7b2;
            --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
            --color-fg-default: #c9d1d9;
            --color-canvas-default: #0d1117;
            --color-canvas-subtle: #161b22;
            --color-border-default: #30363d;
            --color-border-muted: #21262d;
            --color-accent-fg: #58a6ff;
            --shine: #81bafc;
            --color-prettylights-syntax-markup-inserted-bg: #002107;
            --color-prettylights-syntax-markup-inserted-bg-border: #aff5b4;
            --color-prettylights-syntax-entity: #d2a8ff;
            --color-google-bg: #202124;
            --color-google: #fefefe
        }

        .chat-chtML-container .markdown-body-chtML {
            border-color: var(--color-border-muted)
        }

        .chtML-comment {
            color: var(--color-prettylights-syntax-brackethighlighter-angle)
        }
    }

    .chtML-footer a {
        position: fixed;
        bottom: 0;
        right: 0;
        border-left: 1px solid;
        border-top: 1px solid;
        border-color: #b4b4b4;
        border-radius: 6px 0 0 0;
        padding: 0 6px;
        padding-bottom: 1px;
        font-size: 12px;
        font-family: system-ui;
        background-color: var(--color-google-bg);
        color: var(--color-google);
        line-height: 1.3;
        box-shadow: 0 0 3px rgb(0 0 0 / 10%);
        text-decoration: none;
        font-weight: 400;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-rendering: optimizeSpeed;
        z-index: 99999
    }

    .chtML-anim {
        opacity: 0;
        -webkit-transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all .15s cubic-bezier(0.4, 0, 0.2, 1)
    }

    .chtML-anim.chtML-anim-transition {
        opacity: 1
    }

    .heart-chtML {
        font-size: 120%;
        position: relative;
        top: .1ch;
        margin-left: 4px;
        margin-right: 4px;
        -webkit-transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all .15s cubic-bezier(0.4, 0, 0.2, 1)
    }

    .chtML-footer a:hover .heart-chtML {
        color: indianred
    }

    div.chtML {
        margin: 8px;
        height: max-content
    }

    .markdown-body-chtML a,
    a {
        background-color: transparent;
        color: var(--color-accent-fg);
        text-decoration: none;
        text-transform: revert
    }

    .markdown-body-chtML a:hover {
        text-decoration: underline
    }

    .modal-window-chtML .chat-chtML-container .chtML-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
        position: relative
    }

    .modal-window-chtML .chat-chtML-container {
        max-width: 375px;
        margin: 0 auto;
        height: fit-content
    }

    .markdown-body-chtML {
        text-size-adjust: 100%;
        color: var(--color-fg-default);
        background-color: var(--color-canvas-default);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
        font-size: 15px;
        line-height: 1.5;
        overflow-wrap: break-word;
        margin: 0;
        box-shadow: 0 2px 6px rgb(0 0 0 / 8%);
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-border-muted)
    }

    .modal-window-chtML .chat-chtML-container .chtML-inner {
        padding: 15px;
        padding-bottom: 10px
    }

    .markdown-body-chtML p {
        margin-top: 0;
        padding: 0;
        margin-bottom: 10px;
        line-height: 1.5;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
        font-size: 100%;
        color: var(--color-fg-default)
    }

    .modal-window-chtML ._blank,
    ._blank {
        position: relative;
        width: 8px;
        height: 8px;
        border-top: 2px solid;
        border-right: 2px solid;
        border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
        opacity: .5;
        top: -1px;
        right: -1px;
        align-items: center;
        justify-content: center
    }

    .markdown-body-chtML a[target="_blank"]:after,
    a[target="_blank"]:after {
        content: "";
        display: none
    }

    .modal-window-chtML a.button-chtML[target="_blank"] ._blank::after,
    a.button-chtML[target="_blank"] ._blank::after {
        content: "";
        width: 14px;
        height: 0;
        border-top: 2px solid;
        transform: rotate(-45deg) translate(-5px, 0);
        border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
        position: relative;
        top: -2px;
        right: -2px
    }

    .modal-window-chtML a.button-chtML[target="_blank"]:hover ._blank,
    a.button-chtML[target="_blank"]:hover ._blank {
        opacity: 1;
        transform: translate(4px, -4px)
    }

    .chtML-header video {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid var(--color-border-default);
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-window-chtML h2.h1-chtML {
        color: var(--color-fg-default);
        font-size: inherit;
        margin-block-start: 0;
        margin-block-end: 0;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: inherit;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important
    }

    .modal-window-chtML .div_button-chtML {
        margin: 16px 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center
    }

    .modal-window-chtML .card-body-chtML a:after,
    .modal-window-chtML .card-body-chtML a:before,
    .modal-window-chtML .div_button-chtML:after,
    .modal-window-chtML .div_button-chtML:before {
        display: none
    }

    .modal-window-chtML a.button-chtML,
    a.button-chtML,
    .modal-window-chtML .qr-chtML summary,
    .modal-window-chtML [type="submit"] {
        padding: 10px 20px;
        margin: 0;
        border: 1px solid;
        background-color: transparent;
        color: var(--color-fg-default);
        border-color: var(--color-border-muted);
        border-radius: 22px;
        position: relative;
        text-underline-offset: 2px;
        font-size: inherit;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: .5px
    }

    .modal-window-chtML a.button-chtML:hover,
    a.button-chtML:hover,
    .modal-window-chtML details.qr-chtML summary:hover .summary,
    .modal-window-chtML [type="submit"]:hover {
        text-decoration: underline;
        filter: brightness(0.95)
    }

    .modal-window-chtML a.blue-chtML,
    .modal-window-chtML a.red-chtML,
    .modal-window-chtML a.green-chtML,
    .modal-window-chtML [type="submit"] {
        color: var(--color-canvas-default)
    }

    .modal-window-chtML a.light-chtML,
    a.light-chtML,
    .modal-window-chtML .qr-chtML summary {
        background-color: var(--color-canvas-subtle);
        color: var(--color-prettylights-syntax-markup-heading);
        border-color: var(--color-canvas-subtle)
    }

    .modal-window-chtML a.blue-chtML,
    .modal-window-chtML [type="submit"] {
        background-color: var(--color-accent-fg);
        border-color: var(--color-accent-fg)
    }

    .shine-chtML {
        background-image: linear-gradient(270deg, rgba(100, 181, 239, 0) 48.44%, var(--shine) 75.52%, rgba(100, 181, 239, 0) 100%);
        background-repeat: no-repeat;
        animation: bg-move-chtML linear 5s infinite
    }

    @-webkit-keyframes bg-move-chtML {
        0% {
            background-position: -500px 0
        }

        100% {
            background-position: 1000px 0
        }
    }

    @keyframes bg-move-chtML {
        0% {
            background-position: -500px 0
        }

        100% {
            background-position: 1000px 0
        }
    }

    .modal-window-chtML .full_button-chtML {
        display: flex;
        align-items: center;
        justify-content: center;
        text-size-adjust: 100%;
        font-size: 15px;
        line-height: 1.6
    }

    .modal-window-chtML .full_button-chtML a {
        padding: 16px 32px;
        width: 100%;
        text-align: center;
        border-top: 1px solid;
        border-color: var(--color-border-muted);
        color: var(--color-fg-default);
        text-decoration: none;
        font-size: 85%;
        text-transform: uppercase;
        font-weight: 700
    }

    .modal-window-chtML .full_button-chtML a:hover {
        background-color: var(--color-canvas-subtle)
    }

    .modal-window-chtML .full_button-chtML a:first-child {
        border-right: 1px solid;
        border-color: var(--color-border-muted)
    }

    .modal-window-chtML .accordion-chtML {
        margin-top: 20px;
        border-color: var(--color-border-muted)
    }

    .modal-window-chtML summary.card-header-chtML {
        padding: 12px 15px;
        cursor: pointer
    }

    .modal-window-chtML .accordion-chtML details.card-chtML {
        margin: 0;
        border-bottom: 1px dashed;
        border-color: var(--color-border-muted);
        box-sizing: border-box
    }

    .modal-window-chtML .accordion-chtML details.card-chtML:last-child {
        border-bottom: 0 solid
    }

    .modal-window-chtML .accordion-chtML details:last-child summary.card-header-chtML {
        margin-bottom: 5px
    }

    .modal-window-chtML .accordion-chtML details:last-child[open] summary.card-header-chtML {
        border-radius: 0 0 0 0;
        margin-bottom: 0
    }

    .modal-window-chtML .card-body-chtML,  .card-body-chtML {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-wrap: wrap;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px
    }

    .modal-window-chtML .card-body-chtML a, .card-body-chtML a {
        width: calc(100% - 16px);
        box-sizing: border-box;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important
    }

    .modal-window-chtML .card-body-chtML a>span, .card-body-chtML a>span {
        display: flex;
        flex-direction: column
    }

    .modal-window-chtML summary.card-header-chtML:hover {
        background-color: var(--color-canvas-subtle)
    }

    .modal-window-chtML details.card-chtML:first-child summary:hover {
        border-radius: 6px 6px 0 0
    }

    .modal-window-chtML details.card-chtML:last-child summary:hover {
        border-radius: 0 0 6px 6px
    }

    .modal-window-chtML details.card-chtML[open]:last-child summary:hover {
        border-radius: 0 0 0 0
    }

    .modal-window-chtML {
        position: fixed;
        top: 0;
        right: 0;
        min-width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        box-sizing: border-box;
        max-width: 375px;
        margin-left: auto;
        margin-right: 0;
        transition: opacity .15s cubic-bezier(0.4, 0, 0.2, 1), visibility .15s cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        justify-content: flex-end;
        overflow: scroll;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        -webkit-font-smoothing: antialiased
    }

    .modal-window-chtML:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto
    }

    .modal-close-chtML {
        position: absolute;
        width: 40px;
        height: 40px;
        right: -8px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-indent: -999999px;
        display: flex;
        cursor: pointer
    }

    .modal-close-chtML .close-x {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent
    }

    .modal-close-chtML .close-x:after,
    .modal-close-chtML .close-x:before {
        content: "";
        width: 18px;
        height: 2px;
        background-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
        position: absolute
    }

    .modal-close-chtML .close-x:before {
        transform: rotate(45deg)
    }

    .modal-close-chtML .close-x:after {
        transform: rotate(-45deg)
    }

    .modal-close-chtML span.text-indent-chtML {
        display: block;
        text-indent: -99999px;
        position: absolute;
        left: -99999px
    }

    .modal-close-chtML span.close-bg {
        background-color: var(--color-canvas-subtle);
        width: 0;
        height: 0;
        border-radius: 40px
    }

    .modal-close-chtML:hover span.close-bg {
        width: 100%;
        height: 100%
    }

    .modal-window-chtML .show-chtML {
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px;
        overflow: hidden
    }

    .modal-window-chtML .show-chtML>p {
        margin-right: 30px
    }

    .modal-window-chtML:target .show-chtML {
        opacity: 0;
        animation: show-chtML linear .15s forwards;
        -webkit-animation: show-chtML linear .15s forwards;
        animation-delay: 2s;
        height: 0
    }

    @-webkit-keyframes show-chtML {
        0% {
            opacity: 0;
            height: 0
        }

        100% {
            opacity: 1;
            height: 100%
        }
    }

    @keyframes show-chtML {
        0% {
            opacity: 0;
            height: 0;
            margin-bottom: 0
        }

        100% {
            opacity: 1;
            height: 100%;
            margin-bottom: 0
        }
    }

    .modal-window-chtML:target .typing-chtML {
        width: 20ch;
        animation: typing-chtML 1s steps(20), blink-chtML 2s step-end forwards alternate;
        -webkit-animation: typing-chtML 1s steps(20), blink-chtML 2s step-end forwards alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 1ch solid
    }

    @-webkit-keyframes typing-chtML {
        from {
            width: 0
        }
    }

    @keyframes typing-chtML {
        from {
            width: 0
        }
    }

    @-webkit-keyframes blink-chtML {
        0% {
            border-color: transparent
        }

        10% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        20% {
            border-color: transparent
        }

        30% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        40% {
            border-color: transparent
        }

        50% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        60% {
            border-color: transparent
        }

        70% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        80% {
            border-color: transparent
        }

        90% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        100% {
            border-color: transparent
        }
    }

    @keyframes blink-chtML {
        0% {
            border-color: transparent
        }

        10% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        20% {
            border-color: transparent
        }

        30% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        40% {
            border-color: transparent
        }

        50% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        60% {
            border-color: transparent
        }

        70% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        80% {
            border-color: transparent
        }

        90% {
            border-color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
        }

        100% {
            border-color: transparent
        }
    }

    .modal-window-chtML details.qr-chtML {
        margin-bottom: 0;
        position: relative
    }

    .modal-window-chtML details.qr-chtML summary::-webkit-details-marker {
        display: none
    }

    .modal-window-chtML details.qr-chtML>summary {
        list-style: none
    }

    .modal-window-chtML details.qr-chtML summary {
        display: flex;
        cursor: pointer
    }

    .modal-window-chtML details.qr-chtML[open] summary {
        background-color: transparent;
        border-color: transparent;
        color: transparent
    }

    .modal-window-chtML details.qr-chtML summary img {
        position: absolute;
        opacity: 0;
        border: 1px solid;
        box-sizing: border-box;
        box-shadow: 0 2px 2px rgb(0 0 0 / 8%);
        border-color: var(--color-border-muted);
        border-radius: 6px;
        top: -60px;
        left: 0;
        width: 182px;
        height: auto;
        max-width: 57vw;
        z-index: -99999
    }

    .withlove-chtML a,
    .modal-window-chtML a.button-chtML[target="_blank"] ._blank,
    .modal-window-chtML a.button-chtML,
    a.button-chtML[target="_blank"] ._blank,
    a.button-chtML,
    .modal-window-chtML .qr-chtML summary,
    .modal-close-chtML,
    .modal-close-chtML span,
    .modal-window-chtML details.qr-chtML summary,
    .modal-window-chtML details.qr-chtML summary img,
    .modal-window-chtML [type="submit"] {
        -webkit-transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all .15s cubic-bezier(0.4, 0, 0.2, 1)
    }

    .modal-window-chtML details.qr-chtML[open] summary img {
        opacity: 1
    }

    .modal-window-chtML,
    .modal-window-chtML details.qr-chtML[open] summary img {
        z-index: 99999
    }

    .modal-window-chtML:target .modal-close-chtML span.gl {
        width: 22px;
        height: 22px;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 1;
        position: absolute;
        animation: glchtML linear .15s forwards;
        -webkit-animation: glchtML linear .15s forwards;
        animation-delay: 2s
    }

    @-webkit-keyframes glchtML {
        to {
            opacity: 0
        }
    }

    @keyframes glchtML {
        to {
            opacity: 0
        }
    }

    .modal-window-chtML:target .modal-close-chtML span.gl::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 22px;
        background: conic-gradient(#3a7cec 0%12.5%, #2ca24c 12.5%25%, #f1b500 25%37.5%, #e33e2b 37.5%50%, #3a7cec 50%62.5%, #2ca24c 62.5%75%, #f1b500 75%87.5%, #e33e2b 87.5%100%);
        animation: spinner-chtML 2s ease-out infinite;
        -webkit-animation: spinner-chtML 2s ease-out infinite
    }

    @-webkit-keyframes gl-chtML {
        to {
            transform: rotate(360deg)
        }
    }

    @keyframes spinner-chtML {
        to {
            transform: rotate(360deg)
        }
    }

    .modal-window-chtML:target .modal-close-chtML span.gl::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        z-index: 1;
        background-color: var(--color-canvas-default);
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .modal-window-chtML code {
        font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace !important;
        margin: 0;
        border-radius: 6px;
        font-size: 100%;
        word-break: unset;
        overflow: scroll;
        width: 100%;
        display: inline-flex
    }

    .modal-window-chtML form#telegram-chtML {
        margin-block-end: -10px;
        width: 100%
    }

    .modal-window-chtML .flexformradio-chtML {
        display: flex;
        align-items: center
    }

    .modal-window-chtML .flexform-chtML {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 8px;
        margin-top: 16px
    }

    .markdown-body-chtML input[type="text"],
    .markdown-body-chtML input[type="email"] {
        width: 100%;
        height: auto;
        margin: auto;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
        padding: 12px;
        border: 0 solid;
        border-color: var(--color-border-default);
        background-color: var(--color-canvas-subtle);
        border-radius: 2px !important;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 13%);
        font-size: 100% !important;
        color: var(--color-fg-default);
        -webkit-transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        box-sizing: border-box;
        line-height: 1.5
    }

    .markdown-body-chtML input[type="text"]:hover,
    .markdown-body-chtML input[type="email"]:hover {
        background-color: var(--color-border-muted)
    }

    .markdown-body-chtML input[type="text"]:focus,
    .markdown-body-chtML input[type="text"]:focus-visible,
    .markdown-body-chtML input[type="email"]:focus,
    .markdown-body-chtML input[type="email"]:focus-visible {
        background-color: var(--color-canvas-default);
        outline: 2px solid var(--color-accent-fg);
        box-shadow: none
    }

    .markdown-body-chtML label {
        font-size: 85%;
        color: var(--color-prettylights-syntax-brackethighlighter-angle);
        margin: 0
    }

    .markdown-body-chtML .domentest {
        box-shadow: none !important;
        pointer-events: none
    }

    .markdown-body-chtML #success {
        background-color: var(--color-prettylights-syntax-markup-inserted-bg);
        border-radius: 6px;
        padding: 10px 20px;
        margin-bottom: -10px;
        border: 1px dashed;
        border-color: var(--color-prettylights-syntax-markup-inserted-bg-border);
        width: 100%;
        overflow: hidden;
        box-sizing: border-box
    }

    .markdown-body-chtML #success a {
        width: auto;
        display: inline;
        pointer-events: auto;
        color: var(--color-prettylights-syntax-markup-heading)
    }

    .markdown-body-chtML #success p:last-child {
        margin-bottom: 0
    }

    .markdown-body-chtML #success table {
        margin-top: -10px;
        margin-bottom: 10px;
        overflow-x: auto;
        display: block
    }

    .markdown-body-chtML #success table th {
        font-weight: 400;
        text-align: left;
        font-size: 100%;
        padding: 0;
        padding-top: 8px;
        color: var(--color-fg-default);
        overflow-x: scroll;
        border: none;
        vertical-align: inherit
    }

    .markdown-body-chtML #success table th:first-child {
        font-size: 85%;
        color: var(--color-prettylights-syntax-brackethighlighter-angle)
    }

    .markdown-body-chtML [name="usercode"] {
        position: absolute;
        left: -5000px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden
    }

    .markdown-body-chtML .price-chtML {
        border: 2px dashed;
        border-color: var(--color-fg-default);
        padding: 16px 30px;
        border-radius: 22px;
        margin: 0 auto;
        background-color: var(--color-canvas-subtle);
        box-sizing: border-box;
        margin-bottom: 32px;
        max-width: 300px
    }

    .markdown-body-chtML .price-chtML>div {
        display: flex;
        justify-content: center;
        gap: 64px
    }

    .markdown-body-chtML .price-chtML>div.price-svg-chtML {
        gap: 8px;
    }

    .markdown-body-chtML .price-chtML>div.price-svg-chtML .svg {
        background-color: var(--color-fg-default);
        padding: 6px;
        width: 44px;
        border-radius: 8px;
        fill: var(--color-canvas-default);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .markdown-body-chtML .price-chtML>div.price-svg-chtML .svg span {
        display: block;
        width: 15px;
        height: 20px;
        background-color: var(--color-canvas-default);
    }

    .markdown-body-chtML .price-chtML>div.price-svg-chtML .svg span.dollar {
        --svgDOLLAR: url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.3 83.9"><path d="M24.9,18.9c2.3,0,4.1,.8,5.4,2.6,1.2,1.8,1.9,4.3,1.9,7.6h16.1c0-5.9-1.6-10.8-4.9-14.7s-7.8-6.3-13.6-7.1V0h-7.5V7.1c-6,.5-10.7,2.6-14.3,6-3.6,3.4-5.4,7.8-5.4,13.1,0,3.2,.5,5.9,1.5,8.1,1,2.2,2.4,4.2,4.3,5.9,1.8,1.7,4.1,3.2,6.7,4.5,2.6,1.3,5.4,2.5,8.5,3.8,3.1,1.3,5.2,2.6,6.5,4,1.3,1.5,1.9,3.4,1.9,5.9,0,2.2-.7,4-1.9,5.3-1.2,1.2-2.9,1.9-5,1.9-2.9,0-5.1-1-6.7-2.9-1.6-1.9-2.4-4.6-2.4-8.2H0c0,6.5,1.8,11.7,5.5,15.7,3.7,3.9,8.9,6.2,15.8,7v6.7h7.5v-6.7c5.8-.5,10.4-2.5,13.9-5.9,3.5-3.4,5.2-7.8,5.2-13.2,0-3.3-.6-6-1.6-8.2-1-2.3-2.5-4.3-4.4-6-1.9-1.7-4.1-3.2-6.7-4.6-2.6-1.3-5.4-2.5-8.3-3.8-2.9-1.2-5-2.5-6.4-3.9-1.3-1.4-1.9-3.2-2.1-5.4,0-2.3,.5-4.1,1.7-5.4,1.1-1.2,2.7-1.9,4.8-1.9Z"/></svg>');
        -webkit-mask: var(--svgDOLLAR);
        mask: var(--svgDOLLAR);
        width: 12px;
    }

    .markdown-body-chtML .price-chtML>div.price-svg-chtML .svg span.btc {
        --svgBTC: url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.86 84.4"><path d="M48.9,16.9l3-12.1-7.3-1.8-2.9,11.7c-2-.5-3.9-1-5.9-1.4l3.1-11.5-7.3-1.8-3,12c-1.6-.4-3.2-.7-4.7-1.1l-10.1-2.5-2,7.8s5.4,1.2,5.3,1.3c3,.8,3.5,2.7,3.4,4.3l-3.4,13.7-4.8,19.2c-.4,.9-1.3,2.2-3.4,1.7,.1,.1-5.3-1.3-5.3-1.3L0,63.5l9.5,2.4c1.7,.4,3.5,.9,5.2,1.3l-3,12.2,7.3,1.8,3-12.1c2,.5,3.9,1,5.8,1.5l-3,12,7.3,1.8,3-12.2c12.5,2.4,21.9,1.4,25.9-9.9,3.2-9.1-.1-14.4-6.7-17.8,4.8-1.1,8.4-4.3,9.4-10.8,1.3-8.9-5.5-13.7-14.8-16.8Zm-2,40.3c-2.3,9.2-17.6,4.2-22.6,3l4-16.2c5,1.2,21,3.7,18.6,13.2Zm2.2-23.7c-2.1,8.2-14.9,4-19,3l3.7-14.6c4.2,1.1,17.5,3,15.3,11.6Z"/></svg>');
        -webkit-mask: var(--svgBTC);
        mask: var(--svgBTC);
    }

    .markdown-body-chtML .price-svg-chtML {
        height: 28px;
        margin: 0 auto;
        margin-top: 8px
    }

    .markdown-body-chtML .price-data-chtML {
        font-size: 85%;
        color: var(--color-prettylights-syntax-brackethighlighter-angle);
        text-align: center
    }

    .markdown-body-chtML .price-data-chtML+div {
        font-size: 250%;
        font-weight: 600;
        text-align: center
    }

    .markdown-body-chtML .price-data-chtML+div sup {
        font-size: 50%
    }

    .markdown-body-chtML form#telegram-chtML .price-chtML ul {
        padding: 0;
        font-size: 85%;
        color: var(--color-prettylights-syntax-brackethighlighter-angle);
        box-sizing: border-box;
        width: 85%;
        margin: 0 auto;
        margin-block-start: 12px
    }

    .markdown-body-chtML .price-chtML ul li::marker {
        content: "+ ";
        color: var(--color-prettylights-syntax-entity);
        color: var(--color-fg-default);
        font-weight: 600;
        font-size: 130%
    }

    .markdown-body-chtML [type="submit"] {
        display: block;
        margin: 0 auto;
        margin-top: 22px;
        background-color: var(--color-fg-default) !important;
        border-color: var(--color-fg-default);
        border-radius: 22px !important
    }

    .markdown-body-chtML form#telegram-chtML ul {
        margin-block-start: 0;
        margin-block-end: 32px;
        font-size: 85%;
        color: var(--color-prettylights-syntax-brackethighlighter-angle);
        padding-inline-start: 40px
    }

    .markdown-body-chtML #success span.loginpass- {
        font-size: 85%
    }

    .markdown-body-chtML #success span.loginpass {
        letter-spacing: 1px;
        border-radius: 6px;
        padding: .2em .4em;
        background-color: rgba(175, 184, 193, 0.2);
        margin-left: 4px
    }

    .markdown-body-chtML hr {
        margin: revert;
        border-color: var(--color-border-default)
    }

    .markdown-body-chtML :after,
    .markdown-body-chtML :before {
        display: none
    }

    .markdown-body-chtML ._blank:after,
    .markdown-body-chtML ._blank:before,
    .markdown-body-chtML a.modal-close-chtML :after,
    .markdown-body-chtML a.modal-close-chtML :before {
        display: flex
    }

    .paypath {
        fill: var(--color-fg-default)
    }

    @media screen and (min-width: 768px) {
        .modal-window-chtML {
            min-width: max-content
        }

        div.chtML {
            margin: 20px
        }
    }




















/*.browser-wrap, .tabs__pane span, body {
    box-sizing: border-box;
}
.browser-wrap, .svgtext, .tabs__nav, .tg-mobil {
    overflow: hidden;
}*/
/*.browser-wrap {
    width: calc(100% - 60px);
    padding: 0;
    border: 0 solid #e7e8ec;
    border-radius: 6px;
    position: relative;
    margin: 21px;
    box-shadow: 0 0 0 4px #fff,0 -14px 0 4px #fff,0 0 0 5px #ccc,0 -14px 0 5px #ccc;
    max-width: 1000px;
}*/

/*.browser-wrap {
    width: calc(100% - 100px);
    box-shadow: 0 0 0 20px #fff,0 -20px 0 20px #fff,0 0 0 21px #ccc,0 -20px 0 21px #ccc;
}*/

/*.browser-wrap.browser-mobile, .tg-mobil {
    max-width: 200px;
    height: 431px;
    position: relative;
    margin-right: 21px;
    margin-bottom: -80px;
    box-shadow: 0 0 0 10px #fff,0 0 0 11px #ccc,0 5px 20px 0 rgb(1 75 140 / 25%);
    border-radius: 16px;
    border: 0;
    right: 0;
    margin-top: 50px;
}*/

/*.browser-wrap.browser-mobile {
    position: absolute;
    margin-top: 0;
}*/

.download span._blank {
    top: 5px;
    right: 0px;
    transform: rotate(135deg);
}


a.button-chtML.download[target="_blank"]:hover span._blank {
    transform: rotate(135deg) translate(4px, -4px);
}


























.portfolio_nav {
   position: fixed;
   background-color: rgb(255 255 255 / 98%);
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 999;
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   transition: all 0.2s;
}
 .portfolio_nav:target {
   visibility: visible;
   opacity: 1;
   pointer-events: auto;
}
 .portfolio_nav > div {
/*   text-align: center;
   width: 300px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 1em;
   background: rgb(255 255 255);*/
}

 .portfolio_nav-close {
   color: #aaa;
   line-height: 50px;
   padding: 20px;
   font-size: 80%;
   position: absolute;
   right: 0;
   text-align: center;
   top: 0;
   width: 70px;
   text-decoration: none;
}

.portfolio_nav-close-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    text-indent: 999999px;
}

 .portfolio_nav > div {
   border-radius: 1rem;
}
 .portfolio_nav div:not(:last-of-type) {
   margin-bottom: 15px;
}









@media (min-width: 769px) {
.desktop {
    align-items: flex-start !important;
}
.browser-wrap {
    width: calc(100% - 100px) !important;
    box-shadow: 0 0 0 20px var(--color-canvas-default),0 -20px 0 20px var(--color-canvas-default),0 0 0 21px var(--color-border-default),0 -20px 0 21px var(--color-border-default) !important;
}  
.browser-wrap span {
    top: -23px !important;
    gap: 8px !important;
    left: 8px !important;
}

.browser-wrap span span {
    width: 10px !important;
    height: 10px !important;
}

.browser-wrap.browser-mobile {
    box-shadow: 0 0 0 10px var(--color-canvas-default), 0 0 0 11px var(--color-border-default), 0 5px 20px 0 rgb(1 75 140 / 25%) !important;
} 

.browser-wrap.browser-mobile {
    position: absolute !important;
    margin-top: 0 !important;
    margin-right: 13px !important;
}

.btn_site {
    top: 50px !important;
    width: 78.5%;
}

.btn_site > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.btn_site > div a {
    width: max-content;
}

.desktop + hr {
    margin-top: 30vh !important; 
}

.desktop.iframe + hr {
    margin-top: 15vh !important;
}












