.Xiv_twizzle__S6_wH {
    opacity: 0;
    animation: Xiv_twizzle__S6_wH 48s ease-in-out infinite both;
    animation-delay: 3s
}

.Xiv_nubbin__eVXzs {
    opacity: 0;
    animation: Xiv_scrolly__UNpVt 2.5s ease-in-out infinite both;
    animation-delay: .5s;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff
}

.Xiv_heroMask__sUyU_ {
    -webkit-mask: linear-gradient(180deg, #000 0, rgba(0, 0, 0, .991) .8%, rgba(0, 0, 0, .967) 3%, rgba(0, 0, 0, .928) 6.5%, rgba(0, 0, 0, .876) 11.1%, rgba(0, 0, 0, .814) 16.8%, rgba(0, 0, 0, .743) 23.4%, rgba(0, 0, 0, .665) 30.7%, rgba(0, 0, 0, .581) 38.7%, rgba(0, 0, 0, .495) 47.1%, rgba(0, 0, 0, .406) 55.9%, rgba(0, 0, 0, .317) 64.8%, rgba(0, 0, 0, .231) 73.9%, rgba(0, 0, 0, .148) 82.8%, rgba(0, 0, 0, .07) 91.6%, transparent), linear-gradient(180deg, #000 0, #000);
    mask: linear-gradient(180deg, #000 0, rgba(0, 0, 0, .991) .8%, rgba(0, 0, 0, .967) 3%, rgba(0, 0, 0, .928) 6.5%, rgba(0, 0, 0, .876) 11.1%, rgba(0, 0, 0, .814) 16.8%, rgba(0, 0, 0, .743) 23.4%, rgba(0, 0, 0, .665) 30.7%, rgba(0, 0, 0, .581) 38.7%, rgba(0, 0, 0, .495) 47.1%, rgba(0, 0, 0, .406) 55.9%, rgba(0, 0, 0, .317) 64.8%, rgba(0, 0, 0, .231) 73.9%, rgba(0, 0, 0, .148) 82.8%, rgba(0, 0, 0, .07) 91.6%, transparent), linear-gradient(180deg, #000 0, #000);
    -webkit-mask-size: 100% 240px, 100% calc(100% - 240px);
    mask-size: 100% 240px, 100% calc(100% - 240px);
    -webkit-mask-position: bottom center, top center;
    mask-position: bottom center, top center;
    -webkit-mask-repeat: no-repeat, no-repeat;
    mask-repeat: no-repeat, no-repeat
}

.Xiv_maskMobile__a6yq6 {
    -webkit-mask-image: url(../images/xiv/iphone-mask.svg);
    mask-image: url(../images/xiv/iphone-mask.svg)
}

.Xiv_maskMobile__a6yq6,
.Xiv_maskTablet__dYrF3 {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%
}

.Xiv_maskTablet__dYrF3 {
    -webkit-mask-image: url(../images/xiv/ipad-mask.svg);
    mask-image: url(../images/xiv/ipad-mask.svg)
}

.Xiv_maskDesktop__SzYey {
    -webkit-mask-image: url(../images/xiv/mac-mask.svg);
    mask-image: url(../images/xiv/mac-mask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%
}

.Xiv_headerMask__OOH10 {
    position: absolute;
    inset: 0;
    z-index: -2;
    -webkit-backdrop-filter: blur(40px) saturate(200%);
    backdrop-filter: blur(40px) saturate(200%);
    -webkit-mask: linear-gradient(180deg, #000 0, rgba(0, 0, 0, .999) 7%, rgba(0, 0, 0, .994) 13.7%, rgba(0, 0, 0, .985) 20.2%, rgba(0, 0, 0, .97) 26.5%, rgba(0, 0, 0, .947) 32.6%, rgba(0, 0, 0, .916) 38.7%, rgba(0, 0, 0, .874) 44.7%, rgba(0, 0, 0, .82) 50.8%, rgba(0, 0, 0, .754) 57%, rgba(0, 0, 0, .673) 63.4%, rgba(0, 0, 0, .576) 70%, rgba(0, 0, 0, .461) 76.9%, rgba(0, 0, 0, .328) 84.2%, rgba(0, 0, 0, .175) 91.9%, transparent);
    mask: linear-gradient(180deg, #000 0, rgba(0, 0, 0, .999) 7%, rgba(0, 0, 0, .994) 13.7%, rgba(0, 0, 0, .985) 20.2%, rgba(0, 0, 0, .97) 26.5%, rgba(0, 0, 0, .947) 32.6%, rgba(0, 0, 0, .916) 38.7%, rgba(0, 0, 0, .874) 44.7%, rgba(0, 0, 0, .82) 50.8%, rgba(0, 0, 0, .754) 57%, rgba(0, 0, 0, .673) 63.4%, rgba(0, 0, 0, .576) 70%, rgba(0, 0, 0, .461) 76.9%, rgba(0, 0, 0, .328) 84.2%, rgba(0, 0, 0, .175) 91.9%, transparent)
}

.Xiv_headerOverlay__UZMzl {
    position: absolute;
    inset: -1px;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .89) 18.5%, rgba(0, 0, 0, .863) 34.1%, rgba(0, 0, 0, .82) 47.2%, rgba(0, 0, 0, .765) 57.9%, rgba(0, 0, 0, .699) 66.6%, rgba(0, 0, 0, .625) 73.5%, rgba(0, 0, 0, .545) 78.9%, rgba(0, 0, 0, .462) 83.1%, rgba(0, 0, 0, .379) 86.3%, rgba(0, 0, 0, .297) 88.7%, rgba(0, 0, 0, .22) 90.8%, rgba(0, 0, 0, .149) 92.7%, rgba(0, 0, 0, .087) 94.7%, rgba(0, 0, 0, .037) 97%, transparent)
}

.Xiv_footerMask__UH8Ni {
    position: absolute;
    inset: 0;
    z-index: -2;
    -webkit-backdrop-filter: blur(40px) saturate(200%);
    backdrop-filter: blur(40px) saturate(200%);
    -webkit-mask: linear-gradient(0deg, #000 0, rgba(0, 0, 0, .999) 7%, rgba(0, 0, 0, .994) 13.7%, rgba(0, 0, 0, .985) 20.2%, rgba(0, 0, 0, .97) 26.5%, rgba(0, 0, 0, .947) 32.6%, rgba(0, 0, 0, .916) 38.7%, rgba(0, 0, 0, .874) 44.7%, rgba(0, 0, 0, .82) 50.8%, rgba(0, 0, 0, .754) 57%, rgba(0, 0, 0, .673) 63.4%, rgba(0, 0, 0, .576) 70%, rgba(0, 0, 0, .461) 76.9%, rgba(0, 0, 0, .328) 84.2%, rgba(0, 0, 0, .175) 91.9%, transparent);
    mask: linear-gradient(0deg, #000 0, rgba(0, 0, 0, .999) 7%, rgba(0, 0, 0, .994) 13.7%, rgba(0, 0, 0, .985) 20.2%, rgba(0, 0, 0, .97) 26.5%, rgba(0, 0, 0, .947) 32.6%, rgba(0, 0, 0, .916) 38.7%, rgba(0, 0, 0, .874) 44.7%, rgba(0, 0, 0, .82) 50.8%, rgba(0, 0, 0, .754) 57%, rgba(0, 0, 0, .673) 63.4%, rgba(0, 0, 0, .576) 70%, rgba(0, 0, 0, .461) 76.9%, rgba(0, 0, 0, .328) 84.2%, rgba(0, 0, 0, .175) 91.9%, transparent)
}

.Xiv_footerOverlay__TzJrL {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .89) 18.5%, rgba(0, 0, 0, .863) 34.1%, rgba(0, 0, 0, .82) 47.2%, rgba(0, 0, 0, .765) 57.9%, rgba(0, 0, 0, .699) 66.6%, rgba(0, 0, 0, .625) 73.5%, rgba(0, 0, 0, .545) 78.9%, rgba(0, 0, 0, .462) 83.1%, rgba(0, 0, 0, .379) 86.3%, rgba(0, 0, 0, .297) 88.7%, rgba(0, 0, 0, .22) 90.8%, rgba(0, 0, 0, .149) 92.7%, rgba(0, 0, 0, .087) 94.7%, rgba(0, 0, 0, .037) 97%, transparent)
}

.Xiv_scroller__mdI80 {
    border-color: hsla(0, 0%, 100%, .1);
    transition: border-color .3s ease;
    --mask-left: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, .975) 5%, rgba(0, 0, 0, .95) 10%, rgba(0, 0, 0, .05) 95%, transparent);
    --mask-right: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, .975) 5%, rgba(0, 0, 0, .95) 10%, rgba(0, 0, 0, .05) 95%, transparent);
    --mask-mid: linear-gradient(270deg, #000, #000);
    -webkit-mask-image: var(--mask-left), var(--mask-mid), var(--mask-right);
    mask-image: var(--mask-left), var(--mask-mid), var(--mask-right);
    -webkit-mask-size: 40px 100%, calc(100% - 80px) 100%, 40px 100%;
    mask-size: 40px 100%, calc(100% - 80px) 100%, 40px 100%;
    -webkit-mask-position: 0 0, 40px 0, top 20px right;
    mask-position: 0 0, 40px 0, top 20px right;
    -webkit-mask-repeat: no-repeat, repeat-y, no-repeat;
    mask-repeat: no-repeat, repeat-y, no-repeat
}

@media(min-height:800px)and (min-width:880px)and (pointer:fine) {
    .Xiv_scroller__mdI80 {
        padding: 32px
    }
}

.Xiv_scroller__mdI80:hover {
    border-color: hsla(0, 0%, 100%, .25)
}

.Xiv_scroller__mdI80::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

.Xiv_scroller__mdI80::-webkit-scrollbar-button {
    width: 40px
}

.Xiv_scroller__mdI80::-webkit-scrollbar-track {
    opacity: .25
}

.Xiv_scroller__mdI80::-webkit-scrollbar-thumb,
.Xiv_scroller__mdI80::-webkit-scrollbar-track {
    border-right-style: inset;
    border-right-width: calc(100vw + 100vh);
    border-color: inherit;
    border-radius: 6px
}

.Xiv_scroller__mdI80::webkit-scrollbar-thumb:hover {
    width: 24px;
    height: 24px
}

@keyframes Xiv_twizzle__S6_wH {

    0%,
    2.5% {
        opacity: 1;
        transform: rotate(0deg) scale(.9)
    }

    12.5%,
    15% {
        transform: rotate(-45deg) scale(.9)
    }

    25%,
    27.5% {
        transform: rotate(-90deg) scale(.9)
    }

    37.5%,
    40% {
        transform: rotate(-135deg) scale(.9)
    }

    50%,
    52.5% {
        transform: rotate(-180deg) scale(.9)
    }

    62.5%,
    65% {
        transform: rotate(-225deg) scale(.9)
    }

    72.5%,
    75% {
        transform: rotate(-270deg) scale(.9)
    }

    85%,
    87.5% {
        transform: rotate(-315deg) scale(.9)
    }

    to {
        opacity: 1;
        transform: rotate(-1turn) scale(.9)
    }
}

@keyframes Xiv_scrolly__UNpVt {
    0% {
        opacity: 0;
        transform: translateY(0) scaleY(.8) scaleX(.8)
    }

    6% {
        transform: translateY(0) scaleY(1.2) scaleX(1.2)
    }

    8% {
        transform: translateY(0) scaleY(1) scaleX(1)
    }

    25% {
        opacity: .75;
        transform: translateY(0) scaleY(1) scaleX(1);
        filter: blur(0)
    }

    50% {
        opacity: 0;
        transform: translateY(-12px) scaleY(1.25) scaleX(.75);
        filter: blur(1px)
    }

    to {
        opacity: 0;
        transform: translateY(-12px) scaleY(1.25) scaleX(.75)
    }
}


.show_overflow {
    overflow: hidden;
    animation-delay: 6s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-name: show_overflow; 
}
@keyframes show_overflow {to {overflow: auto;}}

.css-sanqhm {
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: show_preloder_1;   
}
@keyframes show_preloder_1 {0% {opacity: 0;}100% {opacity: 1;}}

.show_pic_1, .show_pic_2, .show_pic_3 {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.show_pic_1 {
    animation-delay: 1s;
    animation-name: show_pic_1;   
}
@keyframes show_pic_1 {0% {opacity: 0;}100% {opacity: 1;}}

.show_pic_2 {
    animation-delay: 2s;
    animation-name: show_pic_2;   
}
@keyframes show_pic_2 {0% {opacity: 0;}100% {opacity: 1;}}

.show_pic_3 {
    animation-delay: 3s;
    animation-name: show_pic_3;   
}
@keyframes show_pic_3 {0% {opacity: 0;}100% {opacity: 1;}}

.editions_iphone_hide {
    transform: translateY(400%);
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-delay: 1s;
    animation-name: editions_iphone_hide;   
}
@keyframes editions_iphone_hide {0% {transform: translateY(400%);}100% {transform: translateY(0px);}}

.opis_menu {
    font-weight: 500;
    color: rgba(var(--background-when-dark), var(--tw-text-opacity));
    background-color: rgb(255 201 174/var(--tw-bg-opacity));
    border-width: 2px;
    border-color: rgba(var(--background-when-dark), var(--tw-border-opacity));
    font-size: 13.3px;
    line-height: 14px;
    border-radius: 9999px;
    padding: 2px 10px;
    position: absolute;
    width: max-content;
    left: 0;
}


.opis_menu.pink {background-color: rgb(234 133 255/var(--tw-bg-opacity));/* right: 0; *//* position: absolute; *//* float: right; */margin-left: auto;margin-right: auto;}


.modal-window {
   /* position: fixed; */
   /* background-color: rgb(0 0 0 / 25%); */
   /* top: 0; */
   /* right: 0; */
   /* bottom: 0; */
   /* left: 0; */
   /* z-index: 999; */
   /* visibility: hidden; */
   opacity: 0;
   pointer-events: none;
   /* transition: all 0.2s; */
}
 .modal-window:target {
   visibility: visible;
   opacity: 1;
   pointer-events: auto;
   transform: translateY(-0px);
}
 .modal-window > div {
   /* text-align: center; */
   /* width: calc(100% - 16px); */
   /* max-width: 440px; */
   position: absolute;
   /* top: 0%; */
   /* left: 50%; */
   /* transform: translate(-50%, -50%); */
   /* padding: 1em; */
   /* background: rgb(0 0 0 / 75%); */
   /* right: 80px; */
   /* top: 120px; */
}

 .modal-close {
   /* color: #aaa; */
   /* line-height: 50px; */
   /* padding: 20px; */
   /* font-size: 80%; */
   /* position: absolute; */
   /* right: 0; */
   /* text-align: center; */
   /* top: 0; */
   /* width: 70px; */
   /* text-decoration: none; */
   text-indent: -9999px;
}

.modal-close-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    text-indent: 999999px;
    top: 0;
    }

 .modal-window > div {
   /* border-radius: 1rem; */
}
 .modal-window div:not(:last-of-type) {
   /* margin-bottom: 15px; */
}

.host ul {
    list-style: disc;
    padding: 16px;
    font-size: 14px;
    padding-inline-start: 32px;
}

.price-chtML {
    padding: 12px;
    border: 2px dashed rgb(234 133 255/var(--tw-bg-opacity));
    border-radius: .75rem;
}

.price-chtML > div {
    display: flex;
    justify-content: space-evenly;
}

.price-chtML > div div {
    text-align: center;
}

.price-data-chtML {
    font-size: 13.3px;
}

.price-data-chtML + div {
    font-size: 32px;
    font-weight: 800;
}

.price-data-chtML + div sup {
    font-size: 20px;
}


.price-chtML>div {
        display: flex;
        justify-content: center;
        gap: 64px
    }

.price-chtML>div.price-svg-chtML {
        gap: 8px;
    }

.price-chtML>div.price-svg-chtML .svg {
        background-color: rgb(255 201 174 / 20%);
        padding: 6px;
        width: 44px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.price-chtML>div.price-svg-chtML .svg span {
        display: block;
        width: 15px;
        height: 20px;
        background-color: rgb(255 201 174);
    }

.price-chtML>div.price-svg-chtML .svg span.dollar {
        --svgDOLLAR: url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.3 83.9"><path d="M24.9,18.9c2.3,0,4.1,.8,5.4,2.6,1.2,1.8,1.9,4.3,1.9,7.6h16.1c0-5.9-1.6-10.8-4.9-14.7s-7.8-6.3-13.6-7.1V0h-7.5V7.1c-6,.5-10.7,2.6-14.3,6-3.6,3.4-5.4,7.8-5.4,13.1,0,3.2,.5,5.9,1.5,8.1,1,2.2,2.4,4.2,4.3,5.9,1.8,1.7,4.1,3.2,6.7,4.5,2.6,1.3,5.4,2.5,8.5,3.8,3.1,1.3,5.2,2.6,6.5,4,1.3,1.5,1.9,3.4,1.9,5.9,0,2.2-.7,4-1.9,5.3-1.2,1.2-2.9,1.9-5,1.9-2.9,0-5.1-1-6.7-2.9-1.6-1.9-2.4-4.6-2.4-8.2H0c0,6.5,1.8,11.7,5.5,15.7,3.7,3.9,8.9,6.2,15.8,7v6.7h7.5v-6.7c5.8-.5,10.4-2.5,13.9-5.9,3.5-3.4,5.2-7.8,5.2-13.2,0-3.3-.6-6-1.6-8.2-1-2.3-2.5-4.3-4.4-6-1.9-1.7-4.1-3.2-6.7-4.6-2.6-1.3-5.4-2.5-8.3-3.8-2.9-1.2-5-2.5-6.4-3.9-1.3-1.4-1.9-3.2-2.1-5.4,0-2.3,.5-4.1,1.7-5.4,1.1-1.2,2.7-1.9,4.8-1.9Z"/></svg>');
        -webkit-mask: var(--svgDOLLAR);
        mask: var(--svgDOLLAR);
        width: 12px;
    }

.price-chtML>div.price-svg-chtML .svg span.btc {
        --svgBTC: url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.86 84.4"><path d="M48.9,16.9l3-12.1-7.3-1.8-2.9,11.7c-2-.5-3.9-1-5.9-1.4l3.1-11.5-7.3-1.8-3,12c-1.6-.4-3.2-.7-4.7-1.1l-10.1-2.5-2,7.8s5.4,1.2,5.3,1.3c3,.8,3.5,2.7,3.4,4.3l-3.4,13.7-4.8,19.2c-.4,.9-1.3,2.2-3.4,1.7,.1,.1-5.3-1.3-5.3-1.3L0,63.5l9.5,2.4c1.7,.4,3.5,.9,5.2,1.3l-3,12.2,7.3,1.8,3-12.1c2,.5,3.9,1,5.8,1.5l-3,12,7.3,1.8,3-12.2c12.5,2.4,21.9,1.4,25.9-9.9,3.2-9.1-.1-14.4-6.7-17.8,4.8-1.1,8.4-4.3,9.4-10.8,1.3-8.9-5.5-13.7-14.8-16.8Zm-2,40.3c-2.3,9.2-17.6,4.2-22.6,3l4-16.2c5,1.2,21,3.7,18.6,13.2Zm2.2-23.7c-2.1,8.2-14.9,4-19,3l3.7-14.6c4.2,1.1,17.5,3,15.3,11.6Z"/></svg>');
        -webkit-mask: var(--svgBTC);
        mask: var(--svgBTC);
    }

.price-svg-chtML {
        height: 28px;
        margin: 0 auto;
        margin-top: 8px
    }