
:root {
  --black: 0 0 0;
  --white: 255 255 255;
  --black-: rgb(var(--black) / 100%);
  --white-: rgb(var(--white) / 100%);
  --google-outline-blue: 1 95 204;
  --google-outline-yellowe: 229 151 0;
  --google-outline-blue-: rgb(var(--google-outline-blue) / 100%);
  --google-outline-yellowe-: rgb(var(--google-outline-yellowe) / 100%);
  --outline: var(--google-outline-blue-);
  --red: 225 0 0;
  --red-: rgb(var(--red) / 100%);
  --green: 0 128 0;
  --green-: rgb(var(--green) / 80%);
  --link: #0000ee;
  /* --link: #2964aa; */
  --link-visited: #551a8b;
  --link-hover: #0000a9;
  --link-active: #ff0000;
  --bg-input: rgb(var(--black) / 5%);
  --border: rgb(var(--black) / 7%);
  --bg-hover: rgb(var(--black) / 2%);
  --black-50: rgb(var(--black) / 50%);
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  --.black50: rgb(var(--black) / 2%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: 0 0 0;
    --black: 255 255 255;
    --black-: rgb(var(--black) / 100%);
    --white-: rgb(var(--white) / 100%);
    --google-outline-blue: 1 95 204;
    --google-outline-yellowe: 229 151 0;
    --google-outline-blue-: rgb(var(--google-outline-blue) / 100%);
    --google-outline-yellowe-: rgb(var(--google-outline-yellowe) / 100%);
    --outline: var(--google-outline-blue-);
    --google-outline-blue-: #015fcc;
    --google-outline-yellowe-: #e59700;
    --outline: var(--google-outline-blue);
    --red: 225 0 0;
    --red--: rgb(var(--red) / 100%);
    --green: 0 128 0;
    --green-: rgb(var(--green) / 81%);
    --link: #1e90ff;
    --link: #4493f8;
    --link-visited: #7542a4;
    --link-hover: #187bdc;
    --link-active: #ff0000;
    --bg-input: rgb(var(--black) / 8%);
    --border: rgb(var(--black) / 8%);
    --bg-hover: rgb(var(--black) / 4%);
    --black-50: rgb(var(--black) / 50%);
  }
}

* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI,
    Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji,
    Segoe UI Symbol;
  font-variation-settings: normal;
  line-height: 1.5;
  tab-size: 4;
  font-size: 16px;
  background-color: rgb(var(--white) / 100%);
  color: rgb(var(--black) / 100%);
}

a:link {
  color: var(--link);
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

body {
  margin: 0;
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: center;
  min-height: 100svh;
}

section > div {
  max-width: 65ch;
  max-width: 49.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  padding: 6.8125em 1.5em 1.5em;
  padding: 1.5em 1.5em 1.5em;
  margin-top: calc(50svh - 14em);
  transition: margin-top 0.3s;
}

body.margin-top section > div {
  margin-top: 0;
}

body.margin-top .qwestions {
  /* margin-top: 5em; */
}

section > div h1 {
  padding: 0em 0.5em 0em;
  position: relative;
  font-size: 1.375em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

section > div h1 svg {
  /* width: 5.5em; */
  /* height: auto; */
  width: auto;
  height: 2em;
}

input[type="text"],
button,
textarea {
  background-color: var(--bg-input);
  border: 0.05em solid;
  border-color: rgb(var(--black) / 0%);
  border-radius: 1.75em;
  gap: 0.375em;
  display: flex;
  width: 100%;
  color: rgb(var(--black) / 100%);
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1em;
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI,
    Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji,
    Segoe UI Symbol;
}

button {
  width: auto;
  border-radius: 99em;
  padding: 1em 0.75em;
  cursor: pointer;
  font-size: 1em;
  background-color: transparent;
  border: 0.05em solid;
  border-color: rgb(var(--black) / 20%);
  font-size: .875em;
  line-height: 1.25rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25em;
  /* min-height: 38px; */
  padding: 0.6965em .875em;
  /* min-height: 38px; */
  transition: background-color .15s;
  display: flex;
  align-items: center;
}
button svg {
    width: 1.25em;
    height: 1.25em;
}

button:hover {
    /* border-color: rgb(var(--black) / 15%); */
    background-color: rgb(var(--black) / 4%);
}

strong {
  font-weight: 600;
}

textarea {
  padding: 0.8125em 3.1em 0.8125em 1.1em;
  line-height: 1.5;
  min-height: 3.25em;
  min-height: 6em;
}

textarea:focus,
textarea:focus-visible {
  outline: 0.15em solid var(--outline);
}

.qwestions-button {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  transition: opacity 0.15s, transform 0.15s, height 0.15s;
  opacity: 0;
  transform: translateY(-0.5em);
  position: relative;
  pointer-events: none;
  flex-direction: column;
  padding: 0.625em 1.1em 0.625em 1.1em;
  height: 0;
  width: 100%;
  margin: 0 auto;
}

.qwestions-button::-webkit-scrollbar {
  display: none;
}

body.go .qwestions-button,
body.slash .qwestions-button,
body.unknownMessage .qwestions-button {
  opacity: 1;
  transform: translateY(-1em);
  pointer-events: auto;
}

button.qwestion {
  color: rgb(var(--black) / 100%);
  font-weight: 400;
  background-color: transparent;
  border-color: rgb(0 0 0 / 0%);
  border-radius: 0.5rem;
  border-radius: inherit;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-top-color: var(--border);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3.25em;
  align-items: center;
  justify-content: flex-start;
}

button.qwestion svg {
    width: 1.15em;
    height: 1.15em;
    /* vertical-align: top; */
}

button.qwestion span {
  /* color: rgb(var(--black) / 25%); */
  /* font-weight: 400; */
}

.qwestions-button button:first-child {
  border-top-color: rgb(0 0 0 / 0%);
}

.qwestions-button button:last-child {
  border-bottom-color: transparent;
}

button.qwestion:hover,
button.qwestion:focus {
  background-color: var(--bg-hover);
  border-radius: 0.5em;
  border-color: transparent;
  transition: transform 0.15s, box-shadow 0.15s;
}

button.qwestion:focus {
  outline: 0.15em solid var(--outline);
}

button.qwestion:hover + button.qwestion,
button.qwestion:focus + button.qwestion {
  border-color: transparent;
  transition: transform 0.15s, box-shadow 0.15s;
}

button.qwestion:active {
  box-shadow: none;
  transform: scale(0.985);
}

.qwestions-button button span {
  /* color: rgb(var(--black) / 50%); */
  /* color: var(--text-tertiary); */
  /* font-weight: 400; */
}

h1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.whoiam {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.15s, transform 0.3s;
  position: relative;
  text-align: center;
}

.qwestions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.15s, transform 0.3s;
  position: relative;
  pointer-events: auto;
  align-items: center;
}

.hide {
  opacity: 0;
  transform: translateY(3em);
  pointer-events: none;
}

body.mess .qwestions {
  opacity: 0;
  transition: opacity 0s;
}

.qwestions-textarea {
  position: relative;
  transform: translateY(0em);
  transition: transform 0.15s;
  z-index: 999;
  width: 100%;
}

.qwestions-textarea textarea + button,
body.go .qwestions-textarea textarea + button[disabled],
body.personalMessage .qwestions-textarea textarea + button[disabled],
body.unknownMessage .qwestions-textarea textarea + button[disabled],
body.contactMessage .qwestions-textarea textarea + button[disabled] {
  background-color: rgb(var(--black) / 100%);
  position: absolute;
  right: 0;
  padding: 0;
  text-indent: -9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 999px;
  gap: 0;
  min-height: auto;
  margin-right: 0.75em;
  margin-top: -3em;
  opacity: .115;
  transition: opacity 0.3s;
  overflow: hidden;
  color: var(--white-);
  width: 2.286em;
  height: 2.286em;
}

.qwestions-textarea textarea + button:after,
.qwestions-textarea textarea + button:before {
  /* content: ""; */
  /* width: 0.5em; */
  /* height: 0.5em; */
  /* border-top: 0.15em solid; */
  /* border-top-color: rgb(var(--white) / 100%); */
  /* background: transparent; */
  /* position: absolute; */
  /* margin-top: 0.375em; */
}

.qwestions-textarea textarea + button:after {
  /* transform: rotate(-45deg); */
  /* margin-left: 0.09em; */
}

.qwestions-textarea textarea + button:before {
  /* transform: rotate(45deg); */
  /* margin-right: 0.09em; */
}
button#qwestions-button-send svg {
    width: 3em;
    height: 3em;
}

body.go .qwestions-textarea textarea + button,
body.personalMessage .qwestions-textarea textarea + button,
body.unknownMessage .qwestions-textarea textarea + button,
body.contactMessage .qwestions-textarea textarea + button {
  opacity: 1;
}

.input-group {
  width: unset;
  margin-left: auto;
  margin-right: 0;
  animation: input-group 0.15s forwards;
  transform: translateY(3em);
}

@-webkit-keyframes input-group {
  0% {
    transform: translateY(3em);
  }

  100% {
    transform: translateY(0em);
  }
}

@keyframes input-group {
  0% {
    transform: translateY(3em);
  }

  100% {
    transform: translateY(0em);
  }
}

.input-group:first-child {
  margin-top: 8em;
}

.input-group input {
  max-width: fit-content;
  width: 100%;
}

.input-group-answer {
  max-width: 100%;
  margin-top: 4em;
}

.input-group + form {
  /* margin-bottom: 8em; */
}

.input-group textarea {
  resize: none;
}

p.user-messege {
  background-color: var(--bg-input);
  border: 0.05em solid;
  border-color: rgb(var(--black) / 0%);
  border-radius: 1.65em 1.65em 0.35em 1.65em;
  padding: 1em 1.375em;
  display: flex;
  width: 100%;
  min-height: 3.25em;
  width: fit-content;
  align-items: center;
  margin-left: auto;
  max-width: 70%;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
}

span.user-name {
  color: var(--text-primary);
  font-weight: 500;
}

p.typewriter {
  padding: 1em;
  line-height: 1.75;
}

:where(ul):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

:where(ol, ul) {
  margin-top: 0;
}

:where(ul):not(:where([class~="not-prose"] *)) {
  padding-left: 1.625em;
}

:where(li):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

[dir="ltr"] .prose :where(ul > li):not(:where([class~="not-prose"] *)) {
  padding-left: 0.375em;
}

:where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--text-primary);
}

.color-red :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--red);
}

.qwestions-title {
  position: absolute;
  margin: 0.8125em 0.8125em 0.8125em 1.1em;
  border: 1px solid;
  border-color: transparent;
  color: rgb(var(--black) / 40%);
  transition: opacity 0.15s;
  pointer-events: none;
}

body.go .qwestions-title {
  opacity: 0;
}

.qwestions:after {
  background: linear-gradient(270deg, var(--white), transparent);
  right: -0.5em;
}

body.personalMessage button.qwestion[name="about-me"], 
body.contactMessage button.qwestion[name="contact"], 
body.ukrainMessage button.qwestion[name="ukr"], 
body.tempmailMessage button.qwestion[name="temp-mail"] {
  display: none !important;
}

body.sendMessage .qwestions-button {
  /* opacity: 0; */
  /* transform: translateY(1.5em); */
}

body.sendMessage .qwestions-textarea {
  /* transform: translateY(-6.5em); */
}

body.personalMessage button.qwestion[name="About me"],
body.contactMessage button.qwestion[name="Contact"] {
  display: none;
}

a.qr {
  text-decoration: none;
}

.qr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 15em;
  line-height: 0;
  margin-bottom: 5em;
  text-decoration: none;
}

.qr:before {
  content: "";
  position: absolute;
  display: block;
  width: 15em;
  height: 15em;
  background-image: url(tg-qr-code.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.qr:after {
  content: "";
  position: absolute;
  display: block;
  width: 4em;
  height: 4em;
  animation: 500ms steps(30) both;
  background-image: url(tg-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.qr span {
  position: relative;
  left: 0;
  bottom: -10em;
  width: 15em;
}

.qr span:after {
  content: "Send message";
  height: 1.5em;
  text-decoration: none;
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
  border-radius: 2em;
  background-color: rgb(36 129 204);
  background-image: linear-gradient(
    270deg,
    rgba(100, 181, 239, 0) 48.44%,
    #64b5ef 75.52%,
    rgba(100, 181, 239, 0) 100%
  );
  background-repeat: no-repeat;
  animation: bg-move linear 5s infinite;
}

.qr:hover span:after {
  background-color: rgb(26 138 213);
}

@-webkit-keyframes bg-move {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

@keyframes bg-move {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.send-time {
  width: 100%;
  position: relative;
  padding-top: 1em;
  margin-top: 5em;
}

.send-time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  animation: fillAnimation 2s forwards;
  border-radius: 1em;
  z-index: 0;
  height: 0.25em;
}

.send-time.success::before {
  animation: fillAnimationSuccess 2s forwards;
  background: linear-gradient(
    to right,
    rgb(var(--black) / 8%) 65%,
    rgb(var(--green) / 100%) 100%
  );
  background-size: 200% 100%;
}

@-webkit-keyframes fillAnimationSuccess {
  0% {
    width: 0%;
    background-position: 0% 0;
  }

  100% {
    width: 100%;
    background-position: 100% 0;
  }
}

@keyframes fillAnimationSuccess {
  0% {
    width: 0%;
    background-position: 0% 0;
  }

  100% {
    width: 100%;
    background-position: 100% 0;
  }
}

.send-time.error::before {
  animation: fillAnimationError 2s forwards;
  background: linear-gradient(
    to right,
    rgb(var(--black) / 8%) 65%,
    rgb(var(--red) / 100%) 100%
  );
  background-size: 200% 100%;
}

@-webkit-keyframes fillAnimationError {
  0% {
    width: 0%;
    background-position: 0% 0;
  }

  100% {
    width: 100%;
    background-position: 100% 0;
  }
}

@keyframes fillAnimationError {
  0% {
    width: 0%;
    background-position: 0% 0;
  }

  100% {
    width: 100%;
    background-position: 100% 0;
  }
}

body.sending .qwestions,
body.sendok .qwestions {
  opacity: 0;
  pointer-events: none;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-color: var(--border-medium);
  border-radius: 1.6em;
  gap: 1em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
}

@-webkit-keyframes sendOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sendOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  height: 100%;
}

.flex-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  min-width: 2em;
  min-height: 2em;
  /* border: 0.15em solid; */
  /* border-radius: 50%; */
  color: rgb(var(--green) / 100%);
  left: 0;
}
.flex-icon svg {
    width: 2em;
    height: 2em;
}
.send-time.error .flex-icon {
  color: rgb(var(--red) / 100%);
}

.flex-icon:before,
.flex-icon:after {
  /* content: ""; */
  /* position: absolute; */
  /* background-color: rgb(var(--green) / 100%); */
}

.flex-icon:before {
  /* width: 1em; */
  /* height: 0.2em; */
  /* border-radius: 1em; */
  /* margin-top: 0.15em; */
  /* margin-left: 0.35em; */
  /* transform: rotate(-45deg); */
}

.flex-icon:after {
  width: 0.5em;
  height: 0.2em;
  transform: rotate(45deg);
  margin-top: 0.4em;
  border-radius: 1em;
  margin-left: -0.5em;
}

.flex-text {
  margin-top: 0.25em;
  width: 100%;
  margin-bottom: 4em;
}

.flex-text button {
    margin: 0 auto;
    margin-top: 8em;
}

.send-time.error .flex-icon:before,
.send-time.error .flex-icon:after {
  /* background-color: rgb(var(--red) / 100%); */
  /* width: 1em; */
  /* height: 0.2em; */
  /* border: none; */
  /* background-color: rgb(var(--red) / 100%); */
  /* border-radius: 1em; */
  /* margin-top: 0; */
  /* margin-left: 0; */
}

.send-time.error .flex-icon:before {
  /* transform: rotate(-45deg); */
}

.send-time.error .flex-icon:after {
  transform: rotate(45deg);
}

.color-red {
  color: rgb(var(--red) / 100%);
}

body.personalMessage button[name="about-me"],
body.contactMessage button[name="contact"] {
  display: none;
}

button.qwestion.highlight {
  border-top-color: transparent;
}

button.qwestion.nextbtn {
  border-top-color: transparent;
}

.qwestions-button button span.highlight-color {
  color: var(--black-);
}

.qwestions-button.type button.qwestion {
  font-weight: 400;
  color: rgb(var(--black) / 25%);
}

.qwestions-button.slash-type.type button.qwestion {
  color: rgb(var(--black) / 75%);
}

img.fuck {
  max-width: 80%;
  height: auto;
  margin-left: 10%;
  padding: 1em;
}

button.qwestion[name="ukr"]:before {
  /* content: ""; */
  /* width: 1em; */
  /* height: 0.75em; */
  /* background: linear-gradient(180deg, #0156b8 50%, #ffd900 0%); */
  /* position: relative; */
  /* display: inline-block; */
  /* margin-right: 0.5em; */
  /* border-radius: 0.1em; */
}

button.qwestion:before {
  /* content: ""; */
  font-size: 0.825em;
  /* font-weight: 500; */
  background-color: rgb(var(--google-outline-yellowe) / 25%);
  color: rgb(var(--black) / 75%);
  padding: 0.25em 0.75em;
  border-radius: 1em;
  /* margin-right: 1em; */
}

button.qwestion[name="about-me"]:before {
  /* content: "About"; */
  /* background-color: rgb(var(--google-outline-yellowe) / 25%); */
}

button.qwestion[name="contact"]:before {
  /* content: "Contact"; */
  /* background-color: rgb(var(--google-outline-blue) / 15%); */
}

button.qwestion[name="temp-mail"]:before {
  content: "Web Service";
  background-color: rgb(var(--google-outline-blue) / 10%);
}
button.qwestion[name="temp-mail"] svg {
  display: none;
}
button.qwestion[name="clear-chat"]:before {
  /* content: "Clear"; */
  /* background-color: rgb(var(--red) / 20%); */
}

a.change-language {
  background-color: var(--white-);
  position: absolute;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4245em;
  height: 2.4245em;
  min-width: 2.4245em;
  min-height: 2.4245em;
  border-radius: 999px;
  margin-right: 0.795em;
  margin-top: -3.2em;
  text-decoration: none;
  font-size: 0.825em;
  font-weight: 600;
  padding: 1em;
  color: var(--black-);
}

a.change-language:before,
a.change-language:after {
  content: "";
  position: absolute;
  background-color: var(--black-);
  opacity: 0;
  transform: translateY(0.5em);
  transition: opacity 0.15s, transform 0.15s;
}

a.change-language:before {
  content: "Сменить язык";
  position: absolute;
  top: -3.5em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
  line-height: 1;
  font-weight: 500;
  border-radius: 0.75em;
  color: var(--white-);
}

a.change-language:after {
  top: -0.7625em;
  width: 0.5em;
  height: 0.5em;
  transform: translateY(0.5em) rotate(45deg);
}

a.change-language:hover:before,
a.change-language:hover:after {
  opacity: 1;
  transform: translateY(0em);
}

a.change-language:hover:after {
  transform: translateY(0em) rotate(45deg);
}

body.margin-top a.change-language,
body.go a.change-language {
  display: none;
}




.black50 {
  color: var(--black-50);
}
.font-weight-500 {
  font-weight: 500;
}
blockquote {
  border: 0px;
  border-style: solid;
  border-left-width: .1em;
  padding-left: 1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-color: rgb(var(--black) / 25%);
}

h3 {
  margin-bottom: -1.5em;
  line-height: 1.5;
}

body.one .qwestions-title:nth-child(1),
body.two .qwestions-title:nth-child(1),
body.three .qwestions-title:nth-child(1) {
  display: none;
}

.qwestions-title:nth-child(2),
.qwestions-title:nth-child(3),
.qwestions-title:nth-child(4) {
  display: none;
}

body.one .qwestions-title:nth-child(2), 
body.two .qwestions-title:nth-child(3),
body.three .qwestions-title:nth-child(4) {
  display: block;
}

button.qwestion[name="clear-chat"],
body.one button.qwestion,
body.two button.qwestion,
body.three button.qwestion {
  display: none !important;
}

body.margin-top button.qwestion[name="clear-chat"] {
  display: flex !important;
  color: var(--red-) !important;
}
body.margin-top button.qwestion[name="clear-chat"]:hover {
    background-color: rgb(var(--red) / 4%);
}
body.one button.qwestion[name="clear-chat"],
body.two button.qwestion[name="clear-chat"],
body.three button.qwestion[name="clear-chat"] {
      border-top-color: transparent;
}

















.temp-mail input {padding: 2.5em 1.1em 4.1em 1.1em;line-height: 1.5;max-width: none;border: 0.05em solid;border-radius: .375em;border-color: rgb(var(--black) / 6%);background-color: rgb(var(--black) / 3%);text-align: center;font-family: monospace;font-size: 1.25em;}

.temp-mail button {}

.temp-mail  div#emails {
/* background: red; */
width: 100%;
margin-top: 4em;
margin-bottom: 4em;
}

.temp-mail {
display: flex;
flex-direction: column;
/* gap: .5em; */
position: relative;
align-items: center;
}

.temp-mail button#copyEmailBtn, .temp-mail button#newAddressBtn {position: absolute;top: 0.5em;right: .5em;padding-bottom: .25rem;padding-top: .25rem;display: flex;align-items: center;justify-content: center;gap: 0.25em;font-size: .75em;background-color: transparent;color: rgb(var(--black) / 50%);font-weight: 500;transition: color .15s;}
.temp-mail button#copyEmailBtn:hover,
.temp-mail button#newAddressBtn:hover {
    color: var(--black-);
}
.temp-mail button#newAddressBtn {right: auto;left: 0;}

.temp-mail button#loadMailBtn {/* background-color: transparent; *//* border-top: 0.05em solid; *//* border-top-color: rgb(var(--black) / 15%); *//* width: max-content; *//* font-weight: 500; */position: relative;margin-top: -4.275em;/* border-radius: inherit; *//* color: var(--outline); *//* color: var(--link); *//* transition: border-color .15s; *//* display: flex; *//* align-items: center; */border-color: rgb(var(--black) / 20%);background-color: var(--white-);box-shadow: 0em .1em .4em 0em rgb(var(--black) / 8%);transition: transform .15s, box-shadow .15s, background-color .15s;}

.temp-mail button#loadMailBtn:hover {/* background-color: var(--black-); *//* border-top-color: var(--outline); *//* border-top-color: var(--link-hover); *//* color: var(--link-hover); */background-color: rgb(var(--black) / 4%);}
button#loadMailBtn:active {
    transform: scale(.98);
    box-shadow: 0em .05em .1em 0em rgb(var(--black) / 12%);
}
.temp-mail div#emails > div {
border: 0.05em solid;
border-color: rgb(var(--black) / 6%);
margin-bottom: 2em;
padding-top: 2em;
/* background-color: rgb(var(--black) / 2%); */
padding: 1.5em;
border-radius: .375em;
border-color: rgb(var(--black) / 15%);
/* background-color: rgb(var(--black) / 3%); */
padding-left: 1.25em;
padding-right: 1.25em;
padding-bottom: 0.625em;
padding-top: 0.625em;
}

button#copyEmailBtn:before,
button#copyEmailBtn:after {
    /* content: ''; */
    /* width: .5em; */
    /* height: .5em; */
    /* border: .1em solid; */
    /* position: absolute; */
    /* left: -0.25em; */
    /* margin-top: .2em; */
    /* border-radius: .2em; */
}

button#copyEmailBtn:after {
    /* margin-top: -0.2em; */
    /* margin-left: -0.2em; */
}

button#newAddressBtn:before,
button#newAddressBtn:after {
            /* content: ''; */
            /* position: absolute; */
            /* top: 50%; */
}

button#newAddressBtn:before {
            /* left: 0%; */
            /* width: .7em; */
            /* height: .7em; */
            /* border-radius: 50%; */
            /* border: .1em solid transparent; */
            /* border-top-color: currentColor; */
            /* border-right-color: currentColor; */
            /* border-bottom-color: currentColor; */
            /* transform: translate(-50%, -50%) rotate(45deg); */
}

button#newAddressBtn:after {
            left: 0%;
            width: .35em;
            height: .35em;
            border: solid;
            border-width: .1em .1em 0 0;
            transform: translate(-136%, -12%) rotate(-56deg) translate(-.0em, -.0em);
}






button#loadMailBtn:before,
button#loadMailBtn:after {
            /* content: ''; */
            /* position: absolute; */
            /* top: 50%; */
}

button#loadMailBtn:before {
            /* left: 0%; */
            /* width: .1em; */
            /* height: .7em; */
            /* background-color: currentColor; */
            /* transform: translate(-50%, -50%) rotate(0deg); */
}

button#loadMailBtn:after {
            /* left: 0%; */
            /* width: .35em; */
            /* height: .35em; */
            /* border: solid; */
            /* border-width: .1em .1em 0 0; */
            /* transform: translate(-52%, -28%) rotate(-225deg) translate(-.0em, -.0em); */
}

.temp-mail button svg {
    width: 1.3335em;
    height: 1.3335em;
}

.temp-mail button {
    border-color: transparent;
}


button[onclick="clearAllMessages()"] {
    color: var(--red-);
    border-color: rgb(var(--red) / 25%);
}

button[onclick="clearAllMessages()"]:hover {
    background-color: rgb(var(--red) / 8%);
}

.randomimg {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0em;
    justify-content: flex-end;
    height: 18em;
    margin-top: 5em;
    margin-bottom: 3em;
    flex-wrap: nowrap;
    align-items: center;
}

img.randomsvg {
    max-width: 90%;
    height: 90%;
    /* min-height: 14em; */
    margin: 0 auto;
}

.randomimg button#loadImageButton {
    position: relative;
    margin: 0 auto;
}



@media (min-width: 1980px) {
  html {
    /* font-size: 22px; */
  }
}
