/* ==========================================================================
   1. Global Reset and Base Styles
   ========================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid #e3e3e3;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  font-variation-settings: normal;
  line-height: 1.5;
  tab-size: 4;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.75;
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-surface-primary);
  height: 100%;
  margin: 0;
}

/* ==========================================================================
   2. CSS Variables (merged)
   ========================================================================== */
:root {
  /* Основные переменные */
  --main-surface-background: hsla(0, 0%, 100%, 0.95);
  --message-surface: hsla(0, 0%, 91%, 0.5);
  --composer-surface: var(--message-surface);
  --dot-color: var(--black);
  --text-primary: var(--gray-950);
  --text-primary-inverse: var(--gray-100);
  --content-primary: #01172b;
  --content-secondary: #44505b;
  --text-secondary: #5d5d5d;
  --text-tertiary: var(--gray-400);
  --text-quaternary: var(--gray-300);
  --tag-blue: #08f;
  --tag-blue-light: #0af;
  --text-error: #f93a37;
  --text-danger: var(--red-500);
  --text-placeholder: rgba(0, 0, 0, 0.7);
  --border-xlight: rgb(0 0 0 / 5%);
  --border-light: rgba(0, 0, 0, 0.1);
  --border-medium: rgba(0, 0, 0, 0.15);
  --border-heavy: rgba(0, 0, 0, 0.2);
  --border-xheavy: rgba(0, 0, 0, 0.25);
  --hint-text: #08f;
  --hint-bg: #b3dbff;
  --border-sharp: rgb(0 0 0 / 5%);
  --icon-secondary: #676767;
  --main-surface-primary: var(--white);
  --main-surface-primary-inverse: var(--gray-800);
  --main-surface-secondary: var(--gray-50);
  --main-surface-secondary-selected: rgba(0, 0, 0, 0.1);
  --main-surface-tertiary: var(--gray-100);
  --sidebar-surface-primary: var(--gray-50);
  --sidebar-surface-secondary: var(--gray-100);
  --sidebar-surface-tertiary: var(--gray-200);
  --sidebar-title-primary: rgba(40, 40, 40, 0.5);
  --sidebar-surface: #fcfcfc;
  --sidebar-body-primary: #0d0d0d;
  --sidebar-icon: #7d7d7d;
  --surface-hover: rgba(0, 0, 0, 0.07);
  --link: #2964aa;
  --link-hover: #749ac8;
  --selection: #007aff;
  --user-chat-width: 70%;
  --sidebar-inline-padding: 12px;
  --sidebar-mask: linear-gradient(90deg, #000, #000 84%, transparent 89%, transparent);
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --brand-purple: #ab68ff;
  --yellow-900: #927201;

  /* Переменные для типографики */
  --tw-prose-body: var(--text-primary);
  --tw-prose-headings: var(--text-primary);
  --tw-prose-lead: var(--text-primary);
  --tw-prose-links: var(--text-primary);
  --tw-prose-bold: var(--text-primary);
  --tw-prose-counters: var(--text-primary);
  --tw-prose-bullets: var(--text-primary);
  --tw-prose-hr: var(--border-xheavy);
  --tw-prose-quotes: var(--text-primary);
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: var(--text-secondary);
  --tw-prose-code: var(--text-primary);
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: var(--text-primary);
  --tw-prose-invert-headings: var(--text-primary);
  --tw-prose-invert-lead: var(--text-primary);
  --tw-prose-invert-links: var(--text-primary);
  --tw-prose-invert-bold: var(--text-primary);
  --tw-prose-invert-counters: var(--text-primary);
  --tw-prose-invert-bullets: var(--text-primary);
  --tw-prose-invert-hr: var(--border-xheavy);
  --tw-prose-invert-quotes: var(--text-primary);
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: var(--text-secondary);
  --tw-prose-invert-code: var(--text-primary);
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgba(0, 0, 0, 0.5);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 16px;
  line-height: 28px;

  /* Дополнительные переменные */
  --body: #ffffff;
  --blue: #007AFF;
  --red: #c50000;
  --green: #00ad00;
  --black-rgb: 0 0 0;
  --white-rgb: 255 255 255;
  --red-rgb: 197 0 0;
  --green-rgb: 0 173 0;
  --a: rgb(0 118 194);
  /* --link-color: rgb(24 90 188); */
  --link-color: #2964aa;
  --visited-link-color: rgb(104 29 168);








  --green-50: #ebfaeb;
  --green-50-a50: hsla(154deg, 60%, 43%, .05);
  --green-100: #d2f4d3;
  --green-200: #b9eebc;
  --green-300: #93e69c;
  --green-400: #68de7a;
  --green-500: #19c37d;
  --green-500-rgb: 25, 195, 125;
  --green-500-a50: hsla(154deg, 60%, 43%, .5);
  --green-600: #10a37f;
  --green-700: #1a7f64;
  --green-800: #1b5d4a;
  --green-900: #183d31;
  --green-50a: #10a37f33;
  --green-100a: #10a37f4d;
  --purple-50: #ecebf9;
  --purple-100: #d2cff2;
  --purple-200: #b9b4ec;
  --purple-300: #a198e6;
  --purple-400: #897ce2;
  --purple-500: #715fde;
  --purple-600: #5436da;
  --purple-700: #482da8;
  --purple-800: #3b2479;
  --purple-900: #281852;
  --purple-100a: #5436da4d;
  --blue-100: #86e3e9;
  --blue-200: #72dee5;
  --blue-300: #5ed9e1;
  --blue-400: #4ad5de;
  --blue-500: #36d0da;
  --blue-600: #31bbc4;
  --blue-700: #2ba6ae;
  --blue-800: #269299;
  --blue-900: #207d83;
  --red-50: #fdebeb;
  --red-50-a50: hsla(358deg, 82%, 60%, .05);
  --red-100: #f9cfcf;
  --red-150: #f8c1c1;
  --red-200: #f6b2b3;
  --red-250: #f5a3a4;
  --red-300: #f49394;
  --red-350: #f38684;
  --red-400: #f17173;
  --red-450: #f0595d;
  --red-500: #ef4146;
  --red-500-a50: hsla(358deg, 82%, 60%, .5);
  --red-500-rgb: 239, 65, 70;
  --red-550: #d93b40;
  --red-600: #c23539;
  --red-650: #b03034;
  --red-700: #9d2b2e;
  --red-750: #8c2629;
  --red-800: #7b2124;
  --red-850: #6a1d1f;
  --red-900: #59181a;
  --red-100a: #ef41464d;
  --gold-50: #fff0e6;
  --gold-100: #ffe8c4;
  --gold-200: #f6cf9e;
  --gold-300: #ecb578;
  --gold-400: #e39c51;
  --gold-500: #d9822b;
  --gold-600: #b7701c;
  --gold-700: #945e0c;
  --gold-800: #764a0a;
  --gold-900: #5e3c08;




}

/* ==========================================================================
   3. Responsive and Device-Specific Enhancements
   ========================================================================== */
* {
  scrollbar-color: var(--main-surface-tertiary) transparent;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  :root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@supports (height: 100cqh) {
  :root {
    --cqh-full: 100cqh;
    --cqw-full: 100cqw;
  }
}

/* ==========================================================================
   4. Typography
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.64px;
}

h1:first-child {
  margin-top: 0;
}

p {
  margin-bottom: 8px;
}

p:not(:first-child) {
  margin-top: 8px;
}

/* ==========================================================================
   5. Lists and Links
   ========================================================================== */
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  margin: 20px 0;
  padding-left: 26px;
}

ul {
  list-style-type: disc;
  margin: 20px 0;
  padding-left: 26px;
}

li {
  margin: 8px 0;
}

ol>li {
  padding-left: 6px;
}

ul>li> :first-child {
  margin-top: 20px;
}

ul>li> :last-child {
  margin-bottom: 20px;
}

ol,
ul,
ul ul,
ul ol,
ol ul,
ol ol {
  margin: 12px 0;
}

ol,
ul>li> :first-child {
  margin: 0;
}

ol,
ul>li> :last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   6. Media Elements
   ========================================================================== */
canvas,
svg,
img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

img,
picture,
video {
  background-color: rgb(0 0 0 / 2%);
  max-height: 75dvh;
  width: auto;
  margin: 0 auto;
  border-radius: 24px;
}

/* ==========================================================================
   7. Code Blocks and Language Labels
   ========================================================================== */
code,
pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
  overflow: hidden;
  background: var(--sidebar-surface-primary) !important;
  border-color: var(--border-medium) !important;
}

code {
  color: var(--tw-prose-code) !important;
  word-wrap: normal;
  background: none;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  font-size: 14px;
}

pre {
  border-width: 0.5px;
  border-radius: 6px;
  border-style: solid;
}

code.language-javascript:before,
code.language-html:before,
code.language-css:before,
code.language-python:before {
  content: '';
  display: block;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  color: var(--text-secondary);
  background-color: var(--main-surface-secondary);
  margin-left: -14px;
  margin-right: -14px;
  margin-top: -14px;
  margin-bottom: 16px;
}

code.language-javascript:before {
  content: 'js';
}

code.language-html:before {
  content: 'html';
}

code.language-css:before {
  content: 'css';
}

code.language-python:before {
  content: 'python';
}

/* ==========================================================================
   8. Form Elements
   ========================================================================== */
button,
input,
select,
textarea {
  font: inherit;
  border: 1px solid var(--gray-500);
  padding: 8px 12px;
  background: white;
}

textarea {
  outline: none;
  border-color: transparent;
  resize: none;
}

/* ==========================================================================
   9. Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--border-light);
  border-bottom: 1px solid var(--border-medium);
  padding: 4px 12px;
}

td {
  border-bottom: 1px solid var(--border-medium);
  padding: 4px 12px;
}

/* ==========================================================================
   10. Button Classes
   ========================================================================== */
button, .button {
  align-items: center;
  border-color: transparent;
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 20px;
  min-height: 38px;
  padding: 8px 14px;
  pointer-events: auto;
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

button:active {
  background-color: transparent;
}

.button:hover {
  text-decoration: none;
}

.btn-primary {
  color: var(--white);
  --tw-bg-opacity: 1;
  background-color: rgb(var(--black-rgb) / var(--tw-bg-opacity));
}

.btn-primary:hover,
.btn-primary:active {
  e);
  --tw-bg-opacity: .8;
  background-color: rgb(var(--black-rgb) / var(--tw-bg-opacity));
}

.btn-secondary {
  background-color: var(--main-surface-primary);
  border-color: var(--border-medium);
  border-width: 1px;
  color: var(--text-primary);
  font-size: 14px;
  line-height: 20px;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--main-surface-secondary);
}

.btn-danger {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-danger:hover,
.btn-danger:active {
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}

/* ==========================================================================
   11. Blockquotes and Fieldset
   ========================================================================== */
blockquote {
  --tw-border-opacity: 1;
  border-color: rgb(155 155 155 / var(--tw-border-opacity));
  border-left-color: var(--tw-prose-quote-borders);
  line-height: 24px;
  margin: 0;
  padding: 8px 0;
  border-left-width: 2px;
  padding-left: 16px;
}

blockquote>p {
  margin: 0;
}

fieldset {
  border: none;
}

/* ==========================================================================
   12. Chat Components
   ========================================================================== */
.userInput {
  background: var(--white);
  border: 0px solid rgb(0 0 0 / 8%);
  border-color: transparent;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(0 0 0 / 4%);
  margin-left: -12px;
  margin-right: -12px;
}

.userInput textarea {
  padding: 8px;
  height: 54px;
  width: 100%;
  background-color: transparent;
  color: var(--text-primary);
}

.userInput button {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  overflow: hidden;
  display: flex;
  padding: 0;
}

.userInput+p {
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
  color: var(--text-secondary);
  text-align: center;
  margin: 0;
  background-color: rgb(0 0 0 / 4%);
  margin-left: -12px;
  margin-right: -12px;
  display: none;
}

.userInput button#sendButtonMessage span {
  display: none;
}

.chat-div {
  max-width: 792px;
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  justify-content: space-between;
}

.message.user {
  margin-bottom: 32px;
  width: fit-content;
  max-width: var(--user-chat-width, 70%);
  margin-left: auto;
  /* background-color: rgb(0 0 0 / 4%); */
  background-color: var(--message-surface);
  padding: 8px 16px;
  border-radius: 16px 16px 0 16px;
  color: var(--text-primary);
}

.message.bot {
  margin-bottom: 32px;
  color: var(--tw-prose-body);
}

.message-block {
  overflow: auto;
  padding: 16px;
}

.message-block:not(:last-child) {
  padding-top: 16px;
}


.message.bot.sent-message,
.message.bot.cancelled-message {
  padding: 16px;
  text-align: center;
  border-radius: 6px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 64px;
}

.message.bot.sent-message {
  background-color: var(--green-50);
  border: 1px solid var(--green-100);
  color: var(--green-700);
}

.message.bot.cancelled-message {
  background-color: var(--red-50);
  border: 1px solid var(--red-100);
  color: var(--red-700);
}

body:is(.step-1, .step-2, .step-3, .step-4) .userInputBTN div:first-child button,
body:is(.step-1, .step-2, .step-3, .step-4) .userInput+p {
  display: none;
}

body:is(.step-1, .step-2, .step-3, .step-4) .userInput {
  margin-bottom: 12px;
}

.chat-footer {
  background: var(--main-surface-primary);
  width: 100%;
  position: sticky;
  bottom: 0;
  transition: opacity 0.15s, transform 0.4s;
  order: 2;
  padding-bottom: 0;
}

@keyframes expandMinHeight {
  from {
    min-height: 0;
  }

  to {
    min-height: calc(100dvh - 350px);
  }
}

.message-block:first-child:last-child {
  min-height: 0;
  animation: expandMinHeight 0.5s ease-out forwards;
}

.message-block:first-child:not(:last-child) {
  min-height: auto !important;
}

.message-block:last-child {
  min-height: calc(100dvh - 124px);
}

.chat-div.type .userInput button {
  opacity: 0.5;
}

.userInput button span {
  padding-left: .25rem;
  padding-right: .25rem;
  display: inline-block;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userInput:has(textarea:focus) {
  /* box-shadow: 0 0 0 3px var(--blue); */
}

.userInputBTN {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.userInputBTN div:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.userInputBTN div:first-child button {
  padding: .5rem;
  color: var(--text-secondary);
  font-size: 13px;
  background-color: transparent;
}

.userInputBTN div:first-child button:hover,
.userInputBTN div:first-child button:active {
  background-color: var(--main-surface-secondary);
}

button.preset-button,
button.cancel-button {
  width: auto;
  overflow: hidden;
}

.chat-footer.scrolle-down-hide {
  transform: translateY(calc(100% - 62px));
}

body.has-message .chat-footer:has(.userInput textarea:focus) {
  transform: translateY(0);
}

/* ==========================================================================
   13. Utility Classes / Miscellaneous
   ========================================================================== */
.bg-primary-4 {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--twc-primary-4) / var(--twc-primary-4-opacity, var(--tw-bg-opacity)));
}

body.type-txt .userInput,
body.type-txt .userInputBTN div:first-child button,
body.type-txt .userInput+p {
  pointer-events: none;
  opacity: 0.5;
}

.message.bot button, .message.bot .button {
  height: auto;
  max-height: none;
  padding: 8.75px 16px;
  border-radius: 12px;
  line-height: 1.5715;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 12px;
  display: inline-flex;
  gap: 4px;
  border-color: var(--border-medium);
}

/* ==========================================================================
   14. Tooltips
   ========================================================================== */
.custom-tooltip {
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
  font: inherit;
  border: 1px solid var(--gray-500);
  border-color: transparent;
  font-weight: 500;
  justify-content: center;
  min-height: 38px;
  padding: 8px 14px;
  pointer-events: auto;
  background-color: rgb(13 13 13 / 1);
  color: rgb(255 255 255 / 1);
  display: inline-block;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5715;
  cursor: default;
}

.tooltip-text {
  position: relative;
  z-index: 2;
}

.tooltip-arrow {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 8px;
  background-color: rgb(13 13 13 / 1);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.tooltip-bottom .tooltip-arrow {
  bottom: auto;
  top: -8px;
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}

/* ==========================================================================
   15. Help Blocks
   ========================================================================== */
.help-div,
.mikhail-div {
  position: absolute;
  display: none;
  background: var(--main-surface-primary);
  width: 100%;
  padding: 10px;
  z-index: -1;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -12px;
  margin-right: 12px;
  width: calc(100% + 24px);
}

.help-div.open-help,
.mikhail-div.open-mikhail {
  bottom: calc(100% - 0px);
  display: flex;
  z-index: 1;
}

.help-div button,
.mikhail-div button {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: none;
  position: relative;
  font-weight: 400;
  color: var(--text-placeholder);
  gap: 8px;
  padding: 14px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
}

.help-div button:first-child:after,
.mikhail-div button:first-child:after {
  background: transparent;
}

.help-div button:after,
.mikhail-div button:after {
  content: '';
  width: calc(100% - 0px);
  height: 1px;
  background-color: var(--border-light);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.help-div button span,
.mikhail-div button span {
  display: inline-block;
  max-width: calc(100% - 26px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mikhail-div button span.vertical-line-keyboard {
  display: inline;
  overflow: auto;
  color: var(--border-heavy);
  margin-left: 6px;
  margin-right: 6px;
}

.help-div button:hover+button:after,
.mikhail-div button:hover+button:after {
  background: transparent;
}

.help-div button:hover:after,
.mikhail-div button:hover:after {
  background: transparent;
}

.help-div button,
.mikhail-div button {
  transition: transform 0.15s, opacity 0.15s;
  transform: translateY(50%);
  opacity: 0;
}

.help-div.open-help button.visible,
.mikhail-div.open-mikhail button.visible {
  transform: translateY(0);
  opacity: 1;
}

/* ==========================================================================
   16. Additional Chat/Message Adjustments
   ========================================================================== */
body.has-message .hi {
  order: 0;
  margin-bottom: 28px;
  padding-top: 12px;
}

body.has-message div#chatbox {
  order: 1;
}

.message.user pre {
  border-color: transparent !important;
  background: transparent !important;
}

.message.user pre code {
  background: transparent !important;
}

.message.user p:last-child {
  margin-bottom: 0;
}

button.btn-link {
  display: inline-block;
  font-size: unset;
  font-weight: unset;
  color: var(--link-color);
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: unset;
  min-height: auto;
}

button.btn-link:hover {
  text-decoration: underline;
}

.message.bot button.btn-link {
  padding: 0;
  border: none;
  border-radius: 0px;
}

/* ==========================================================================
   17. Avatars and Header Elements
   ========================================================================== */

.ava-mikhail {
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 9999px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-color: var(--main-surface-secondary);
}

.ava-mikhail img {
  background-color: rgb(243 243 243);
}

.hi button {
  min-height: auto;
  padding: 0;
  border-radius: inherit;
  color: var(--link-color);
  font-weight: 400;
}

.hi p {
  color: var(--text-secondary);
  letter-spacing: -0.23px;
  line-height: 18px;
  font-size: 15px;
  max-width: 576px;
  margin: 0 auto;
}

.ava-mikhail.ava-mikhail-btn img {
  transform: none;
}

.hr {
  font-size: 0;
  width: 75%;
  height: 0.5px;
  background-color: var(--border-medium);
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.hi {
  text-align: center;
  order: 1;
}

.hi h1 {
  letter-spacing: 0.38px;
  line-height: 34px;
  font-size: 28px;
  margin-bottom: 4px;
  color: var(--sidebar-body-primary);
}

.message.bot button.preset-button.link-button {
  font-size: 16px;
  font-weight: 400;
  color: var(--link-color);
  padding: 0;
  border: none;
  background: transparent;
}

/* ==========================================================================
   18. Placeholder color
   ========================================================================== */

::placeholder {
  color: var(--text-tertiary);
}

:-ms-input-placeholder {
  color: var(--text-tertiary);
}

:-ms-input-placeholder {
  color: var(--text-tertiary);
}

/* ==========================================================================
   19. Media Query: Aspect Ratio, Hover & Pointer Fine
   ========================================================================== */
/* @media (min-aspect-ratio: 4/3) and (hover: hover) and (pointer: fine) { */
@media (min-width: 475px) {
  .chat-div {
    justify-content: center;
    gap: 20px;
  }

  .userInput+p {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    transform: none;
    background: transparent;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
  }

  .userInput button span {
    max-width: inherit;
  }

  body.has-message .userInput+p {
    position: relative;
  }

  .help-div.open-help,
  .mikhail-div.open-mikhail {
    top: 100%;
  }

  body.has-message .help-div.open-help,
  body.has-message .mikhail-div.open-mikhail {
    top: auto;
    bottom: calc(100% - 0px);
  }

  .userInput:has(textarea:focus) {
    box-shadow: 0 0 0 3px var(--blue);
  }

  .userInput {
    background: var(--white);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.01), 0 2px 5px rgba(0, 0, 0, 0.06);
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid rgb(0 0 0 / 8%);
    /* --tw-bg-opacity: 1; */
    /* background-color: rgb(48 48 48 / var(--tw-bg-opacity)); */
  }

  .userInputBTN div:first-child button:hover {
    background-color: var(--main-surface-secondary);
  }

  .help-div,
  .mikhail-div {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

}

.send-button {
  margin: 0 auto;
  display: block;
  margin-bottom: 64px;
}

body.failedOpenAI .userInputBTN div:first-child button.help-btn {
  display: none;
}

button#cancelStepsButton {
  display: none;
}

body:is(.step-1, .step-2, .step-3, .step-4) button#cancelStepsButton {
  display: inline-flex;
}

img.randomsvg {
    padding: 16px;
    max-width: 348px;
    max-height: 348px;
    width: 100%;
    height: 348px;
    background-color: transparent;
}

.randomimg {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    idebar-surface-primary);!;
    border-width: 0.5px;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--border-medium);!t;!it;!imt;!impt;!impot;!import;!importt;!importat;
    background-color: var(--sidebar-surface-primary);
    position: relative;
}

.randomimg a {
    position: absolute;
    top: 8px;
    right: 16px;
}

.randomimg button#loadImageButton {
    margin: 0 auto;
}

b {
    font-weight: 500;
}







/* Темная тема */
@media (prefers-color-scheme: dark) {

  :root {
    --main-surface-background: rgba(33, 33, 33, .9);
    --message-surface: rgba(50, 50, 50, .85);
    --dot-color: var(--white);
    --text-primary: var(--gray-100);
    --text-primary-inverse: var(--gray-950);
    --text-secondary: var(--gray-400);
    --text-tertiary: var(--gray-500);
    --text-quaternary: var(--gray-600);
    --text-placeholder: hsla(0, 0%, 100%, .8);
    --content-primary: #f2f6fa;
    --content-secondary: #dbe2e8;
    --text-error: #f93a37;
    --border-xlight: hsla(0, 0%, 100%, .05);
    --border-light: hsla(0, 0%, 100%, .1);
    --border-medium: hsla(0, 0%, 100%, .15);
    --border-heavy: hsla(0, 0%, 100%, .2);
    --border-xheavy: hsla(0, 0%, 100%, .25);
    --border-sharp: hsla(0, 0%, 100%, .05);
    --main-surface-primary: var(--gray-800);
    --main-surface-primary-inverse: var(--white);
    --main-surface-secondary: var(--gray-750);
    --main-surface-secondary-selected: hsla(0, 0%, 100%, .15);
    --main-surface-tertiary: var(--gray-700);
    --sidebar-surface-primary: var(--gray-900);
    --sidebar-surface-secondary: var(--gray-800);
    --sidebar-surface-tertiary: var(--gray-750);
    --sidebar-title-primary: hsla(0, 0%, 94%, .5);
    --sidebar-surface: #2b2b2b;
    --sidebar-body-primary: #ededed;
    --sidebar-icon: #a4a4a4;
    --surface-hover: hsla(0, 0%, 100%, .15);
    --link: #7ab7ff;
    --link-hover: #5e83b3;
    --surface-error: 249 58 55;
    --link-color: #7ab7ff;
    --white: #000;
    --black: #fff;
    --black-rgb: 255 255 255;
    --white-rgb: 0 0 0;
  }

  .userInput {
    --tw-bg-opacity: 1;
    background-color: rgb(48 48 48 / var(--tw-bg-opacity));
  }

  .btn-secondary:hover,
  .btn-secondary:active,
  .userInputBTN div:first-child button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(66 66 66 / var(--tw-bg-opacity));
  }


}