.modal-window-tg {
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    --TG-text-color: #000;
    --TG-second-text-color: #57585a;
    --TG-accent-btn-color: #2481cc;
    --TG-accent-color-hover: #1a8ad5;
    --TG-body-bg: #fff;
    --TG-box-bg: #fff;
    --TG-box-bg-blured:
    rgba(255, 255, 255, .84);
    --TG-tme-logo-color: #363b40;
    --TG-accent-link-color: #1a5b91;
    --TG-background:
    rgb(207 213 141 / 75%);
    --TG-background:
    linear-gradient(36deg, rgb(207 213 141 / 100%) 0%, rgb(112 167 137 / 100%) 50%, rgb(211 217 182 / 100%) 100%);
    --TG-background-blur:
    linear-gradient(36deg, rgb(207 213 141 / 85%) 0%, rgb(112 167 137 / 85%) 50%, rgb(211 217 182 / 85%) 100%);
    --TG-background-image:
    url(https://tegmi.github.io/made-in/img/patternTG.svg);
    --TG-opacity: .3;
    --TG-close: #ee5954;
    --TG-button_light:
    rgb(128 128 128 / 10%);
    --TG-button_border:
    rgb(0 0 0 / 10%);
    --TG-icon-image:
    url(https://tegmi.github.io/made-in/img/iconTG.svg);
    --TG-icon-image-lang: url(https://tegmi.github.io/made-in/img/translate.svg);
    --TG-hover-filter: brightness(0.25);
}

html.theme_dark body .modal-window-tg {
    --TG-text-color: #fff;
    --TG-accent-btn-color: #1c93e3;
    --TG-body-bg: #000;
    --TG-box-bg: #1e1e1e;
    --TG-box-bg-blured:
        rgba(34, 34, 34, .84);
    --TG-tme-logo-color: #fff;
    --TG-accent-link-color: #3ca1eb;
    --TG-background:
        rgb(207 213 141 / 75%);
    --TG-background:
        linear-gradient(36deg, rgb(27 28 14 / 100%) 0%, rgb(10 27 18 / 100%) 50%, rgb(28 29 22 / 100%) 100%);
    --TG-background-blur:
        linear-gradient(36deg, rgb(27 28 14 / 95%) 0%, rgb(10 27 18 / 95%) 50%, rgb(28 29 22 / 95%) 100%);
    --TG-second-text-color: #a7a9ad;
    --TG-opacity: 1;
    --TG-close: #ed462f;
    --TG-background-image:
        url(https://tegmi.github.io/made-in/img/patternTG-dark.svg);
    --TG-hover-filter: brightness(0.75);
}

.withlove {
    font-size: 12px;
    text-align: center;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: monospace, system-ui;
}

.withlove span.heart-tg {
    color: #e25555 !important;
    font-size: 130%;
    position: relative;
    top: .2ch;
}

.withlove a {
    text-underline-offset: 2px;
    cursor: pointer;
    text-decoration: underline;
}

.withlove, .withlove a {
    color: gray;
    background-color: transparent;
}

/*modal*/
.modal-window-tg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background: var(--TG-background);
    max-width: none !important;
    box-sizing: border-box;
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
    .modal-window-tg {
        background: var(--TG-background-blur);
        backdrop-filter: blur(1em);
    }
}

.modal-window-tg:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto
}

.modal-window-tg>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
}

.modal-window-tg>div>div {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.modal-close-tg {
    position: absolute;
    right: 0;
    text-align: center;
    top: 0px;
    width: 32px;
    height: 32px;
    margin: 26px;
    margin-top: 26px;
    background-color: var(--TG-close);
    border-radius: 50%;
    text-indent: -999999px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-close-tg:hover {
    opacity: .9;
}

.modal-close-overlay-tg {
    width: 100%;
    height: 100%;
    position: fixed;
    text-indent: 999999px;
    left: 0;
    mix-blend-mode: overlay;
    background: center repeat;
    background-size: 420px auto;
    background-image: var(--TG-background-image);
    opacity: var(--TG-opacity);
    min-height: 100vh;
}

html.theme_dark body .modal-window-tg .modal-close-overlay-tg {
    background-image: var(--TG-background-image);
}

.modal-close-tg:after,
.modal-close-tg:before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;
}

.modal-close-tg:before {
    transform: rotate(45deg)
}

.modal-close-tg:after {
    transform: rotate(-45deg);
}

.modal-window-tg>div .modal-close-tg+div {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

.modal-window-tg>div .modal-close-tg+div::-webkit-scrollbar {
    display: none
}

.modal-window-tg>div .modal-close-tg+div .flex {
    align-items: center;
    flex-direction: column;
}

.modal-window-tg>div .modal-close-tg+div .flex a {
    border-radius: 2em;
}

.tgme_body_wrap {
    padding: 16px 16px 16px;
}

.tgme_page {
    position: relative;
    /* margin: 16px auto; */
    padding: 32px 0;
    max-width: 400px;
    background: var(--TG-box-bg);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 16px;
    transition: all .15s ease .15s;
    /* min-height: 302px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 321px;
    box-sizing: content-box;
}

.tgme_page_photo {
    text-align: center;
    padding-bottom: 16px;
}

.modal-window-tg a, .modal-window-tg a:hover, .withlove a:hover, html.theme_dark body .tgme_page a:hover {
    color: #0088cc;
}

.withlove a:hover {
    opacity: 1;
}

.tgme_page a {
    color: #1a5b91;
    position: relative;
}

html.theme_dark body .tgme_page a {
    color: #50afff;
}

.tgme_page_photo_image {
    vertical-align: middle;
    width: 122px;
    height: 122px;
    border-radius: 61px;
}

.tgme_page_title {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    max-width: 340px;
    padding: 0 10px;
    margin: 0 auto;
    color: var(--TG-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.tgme_page_extra {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding: 6px 16px 0;
    color: var(--TG-second-text-color);
}

.tgme_page_description,
.tgme_page_additional {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 10px 16px 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--TG-text-color);
}

.tgme_page_description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 125px;
    word-break: break-word;
}

.tgme_page_action {
    text-align: center;
    margin-top: 24px;
    line-height: 0;
}

a.tgme_action_button_new, html.theme_dark body a.tgme_action_button_new {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    background: var(--TG-accent-btn-color);
    background-color: var(--TG-accent-btn-color);
    border-radius: 22px;
    overflow: hidden;
    display: inline-block;
    padding: 13px 24px;
    text-transform: uppercase;
    vertical-align: top;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px var(--TG-button_border);
    position: relative;
}

.modal-window-tg .tgme_page a[target="_blank"]:after, .modal-window-tg a.tgme_action_button_new:after {
    content: '';
}

a.tgme_action_button_new.shine {
    background-image: linear-gradient(270deg, rgba(100, 181, 239, 0) 48.44%, #64b5ef 75.52%, rgba(100, 181, 239, 0) 100%);
    background-repeat: no-repeat;
    animation: bg-move linear 5s infinite;
}

a.tgme_action_button_new:hover, a.tgme_action_button_new:active, html.theme_dark body a.tgme_action_button_new:hover {
    background-color: var(--TG-accent-color-hover);
    color: #fff;
}

@-webkit-keyframes bg-move {
    0% {
        background-position: -500px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

@keyframes bg-move {
    0% {
        background-position: -500px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

a.tgme_action_button_new.qr-button,  html.theme_dark body a.tgme_action_button_new.qr-button {
    background-color: var(--TG-button_light);
    color: var(--TG-text-color);
    text-indent: -99999px;
    line-height: 0;
    padding: 11.5px 24px;
    margin-left: 0.5em;
}

a.tgme_action_button_new.qr-button:after,
.modal-close-tg.modal-close-qr-tg:after {
    background-image: var(--TG-icon-image);
}

a.tgme_action_button_new.qr-button:after {
    content: '';
    background-size: 80px;
    background-repeat: no-repeat;
    /* background-position: center; */
    display: block;
    width: 20px;
    height: 20px;
    background-position: top 0px left 0px;
}

html.theme_dark body .modal-window-tg a.tgme_action_button_new.qr-button:after {
    background-position: top 0px left -40px;
}

.modal-close-tg.modal-close-qr-tg {
    right: auto;
    background-color: var(--TG-button_light);
    background-color: transparent;
}

.modal-close-tg.modal-close-qr-tg:after {
    content: '';
    transform: rotate(0);
    background-color: transparent;
    background-size: 80px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: top 0% left -20px;
    opacity: .5;
}

html.theme_dark body .modal-window-tg .modal-close-tg.modal-close-qr-tg:after {
    background-position: top 0px left -60px;
}


.modal-close-tg.modal-close-qr-tg:before {
    transform: rotate(0);
    background-color: transparent;
}

.tgme_page_photo_image.tg-svg-qr-code {
    border-radius: inherit;
    width: 180px;
    height: 180px;
    background-size: 480%;
    background-position: top 0.0% left 0%;
    background-repeat: no-repeat;
    display: block;
    margin: 17px auto 8px;
}

a.tgme_action_button_new.qr-button:hover, .tgme_body_wrap_btn a:hover {
    filter: var(--TG-hover-filter);
    background-color: var(--TG-button_light);
}

.tgme_body_wrap_footer {
    margin: 16px auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.modal-window-tg a.tgme_action_button_new.button_footer {
    font-size: 12px;
    background: rgb(0 0 0 / 15%);
    background-color: rgb(0 0 0 / 15%);
    border-radius: 12px;
    padding: 19px 24px;
    backdrop-filter: blur(.25em);
    width: calc(50% - 56px);
    text-align: center;
}

.modal-window-tg a.tgme_action_button_new.button_footer:hover {
    background: rgb(0 0 0 / 20%);
    color: #fff;
}

.tgme_body_wrap_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 16px;
    padding-top: 8px;
    flex-wrap: wrap;
}

.tgme_body_wrap_btn a, html.theme_dark body .tgme_body_wrap_btn a.tgme_action_button_new {
    box-sizing: border-box;
    text-align: center;
    background-color: var(--TG-button_light);
    color: var(--TG-text-color);
    border-radius: 12px;
    font-size: 12px;
    padding: 32px 18px;
}

.modal-window-tg a[target="_blank"]:after, .modal-window-tg a.tgme_action_button_new[target="_blank"]:after {
    content: '';
    background-image: var(--TG-icon-image);
    transform: rotate(135deg);
    background-color: transparent;
    background-size: 60px;
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 14px;
    background-position: top 0% left -14px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.modal-window-tg a[target="_blank"]:after {
    position: relative;
    display: inline-block;
    top: 0;
    right: 0;
}

.modal-window-tg .tgme_page_action a.tgme_action_button_new[target="_blank"]:after {
    background-image: none;
}


#portfolio a[href="#portfolio"],
#services a[href="#services"],
#hosting a[href="#hosting"] {
    background: var(--TG-box-bg);
    background-color: var(--TG-box-bg);
    color: var(--TG-text-color);
}

a[href="#hosting"] {
    box-shadow: inset 0 0 0 1px var(--TG-accent-link-color);
    color: var(--TG-accent-link-color);
}

a[href="#hosting"]:hover {
    box-shadow: inset 0 0 0 1px var(--TG-accent-link-color);
    color: var(--TG-accent-link-color);
    filter: brightness(0.75);
}

#services .tgme_body_wrap_btn {
    padding: 12px 32px 16px 32px;
}

#services .tgme_page_extra {
    padding-top: 12px;
}

#services .tgme_body_wrap_btn:last-child {
    margin-bottom: -8px;
}

sub, sup {
    font-size: 12px;
    font-family: system-ui;
    color: var(--TG-second-text-color);
    position: relative;
    /* top: -0.45ch; */
}

sub {
    margin-right: .25ch;
}

sup {
    margin-left: .25ch;
}

.price-tg {
    color: var(--TG-second-text-color);
    margin-left: 0.15ch;
    font-family: system-ui;
    font-weight: normal;
}

.tgme_page_title > span[dir="auto"] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.hosting_data {
    text-align: left;
    max-width: 268px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1ch;
}

.hosting_data div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* gap: .5em; */
}

.hosting_data span {
/*     color: var(--TG-close); */
/*     color: limegreen; */
    margin-right: 0.75ch;
    font-size: 20px;
    position: relative;
    background-color: limegreen;
    width: 18px;
    height: 18px;
    min-width: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hosting_data span:before,
.hosting_data span:after {
    content: '';
    width: 6px;
    height: 2px;
    background-color: var(--TG-box-bg);
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    left: 3px;
}

.hosting_data span:after {
    width: 10px;
    transform: rotate(-45deg);
    left: 6px;
    top: 8px;
}

span.not_cool, 
span.cool {
    padding: 0.6em;
    padding-top: .2em;
    padding-bottom: .3em;
    border-radius: 4px;
    /* gap: 1em; */
}

span.not_cool {
    background-color: rgb(255 0 0 / 15%);
}

span.cool {
    background-color: rgb(0 128 0 / 20%);
}

@media screen and (min-width: 375px) {

    .tgme_page {
        min-height: 296px;
    }

    .tgme_body_wrap_btn a {
        font-size: 14px;
    }   
    
}

.lang-tg {
    display: inline-block;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-tg:before {
    content: '';
    background-image: var(--TG-icon-image-lang);
    background-size: 62px;
    background-position: center;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    display: inline-block;
    background-position: top 0% left 0px;
}

html.theme_dark body .modal-window-tg .lang-tg:before {
    background-position: top 0px left -30px;
}

html.theme_dark body .modal-window-tg  a[target="_blank"]:after, 
html.theme_dark body .modal-window-tg  a.tgme_action_button_new[target="_blank"]:after {
    background-position: top 0% left -45px;
}


